apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: kafka
  name: kafka
  namespace: confluent
spec:
  ports:
    - name: "9092"
      port: 9092
      targetPort: 9092
  selector:

    app: kafka
  type: NodePort
status:
  loadBalancer: {}