---

variables:

  SC: 'helm/confluent-for-kubernetes/confluent-platform-7.0.1/iris-streaming-storage-class.yaml'
  CRD :  'helm/confluent-for-kubernetes/crds'
  CRB : 'helm/confluent-for-kubernetes/crds/platform.confluent.io_confluentrolebindings.yaml'
  ZK  : 'helm/confluent-for-kubernetes/confluent-platform-7.0.1/iris-streaming-zookeeper.yaml'
  KAFKA0: 'helm/confluent-for-kubernetes/confluent-platform-7.0.1/iris-streaming-kafka0.yaml'
  #  KAFKA1: 'helm/confluent-for-kubernetes/confluent-platform-7.0.1/iris-streaming-kafka1.yaml'
  #  KAFKA2: 'helm/confluent-for-kubernetes/confluent-platform-7.0.1/iris-streaming-kafka2.yaml'
  SR: 'helm/confluent-for-kubernetes/confluent-platform-7.0.1/iris-streaming-schemaregistry.yaml'
  REPLICATOR: 'helm/confluent-for-kubernetes/confluent-platform-7.0.1/iris-streaming-replicator.yaml'
  KSQLDB: 'helm/confluent-for-kubernetes/confluent-platform-7.0.1/iris-streaming-ksqldb.yaml'
  CC: 'helm/confluent-for-kubernetes/confluent-platform-7.0.1/iris-streaming-controlcenter.yaml'
  CONNECT: 'helm/confluent-for-kubernetes/confluent-platform-7.0.1/iris-streaming-connect.yaml'
  RESTPROXY: 'helm/confluent-for-kubernetes/confluent-platform-7.0.1/iris-streaming-restproxy.yaml'
  RESTCLASS: 'helm/confluent-for-kubernetes/confluent-platform-7.0.1/iris-streaming-restclass.yaml'

  GIT_SUBMODULE_STRATEGY: recursive


stages:
  - confluent_operator
  - confluent_operator_obm
  - confluent_operator_sbox
  - confluent_components_deployment
  - confluent_deployment_obm
  - confluent_deployment_sbox
  - confluent_components_destroy
  - confluent_destroy_obm
  - confluent_destroy_sbox

image: dtzar/helm-kubectl
before_script:
  - chmod 700 /builds/streaming-iris/iris-confluent-cluster-deployment
  - apk update
  - apk add zip jq python3 python3-dev py3-pip gcc linux-headers libffi-dev openssl-dev make musl-dev curl
  - pip install --upgrade pip awscli
  - mkdir ~/.aws
  - touch ~/.aws/config
  - echo "[default]" > ~/.aws/config
  - echo "$region" >> ~/.aws/config
  - echo "$role_arn" >> ~/.aws/config
  - echo "$role_arn"
  - echo "credential_source=Ec2InstanceMetadata" >> ~/.aws/config
  - export EC2_REGION=$(curl -s http://169.254.169.254/latest/dynamic/instance-identity/document  | jq  --raw-output '.region')
  - export AWS_ACCOUNT=$(curl -s http://169.254.169.254/latest/dynamic/instance-identity/document | jq  --raw-output '.accountId')
  - export AWS_PROFILE=default
  #  - wget https://github.com/instrumenta/kubeval/releases/latest/download/kubeval-linux-amd64.tar.gz
  #  - tar xf kubeval-linux-amd64.tar.gz
  #  - cp kubeval /usr/local/bin
  - aws sts get-caller-identity
  - echo "$eks_cluster"
  - aws eks --region "$cluster_region" update-kubeconfig --name "$eks_cluster"
  - kubectl get nodes

Operator:
  stage: confluent_operator
  script:
    - "kubectl create namespace confluent"
    - "kubectl apply -f $CRD"
    - "kubectl apply -f $CRB -n confluent"
    - "helm upgrade --install confluent-operator helm/confluent-for-kubernetes --namespace confluent"
  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual

LDAP:
  stage: confluent_components_deployment
  script:
    - "helm upgrade --install -f secure-deploy/assets/openldap/ldaps-rbac.yaml test-ldap secure-deploy/assets/openldap --namespace confluent"
    - "kubectl get pods --namespace confluent"
#    - "kubectl create secret tls ca-pair-sslcerts --cert=$ca_cert --key=$key_pem --namespace confluent"
    - "kubectl create secret generic credential1 --from-file=plain-users.json=secure-deploy/creds-kafka-sasl-users.json --from-file=digest-users.json=secure-deploy/creds-zookeeper-sasl-digest-users.json --from-file=digest.txt=secure-deploy/creds-kafka-zookeeper-credentials.txt --from-file=plain.txt=secure-deploy/creds-client-kafka-sasl-user.txt --from-file=basic.txt=secure-deploy/creds-control-center-users.txt --from-file=ldap.txt=secure-deploy/ldap.txt --namespace confluent"
    - "kubectl create secret generic mds-token --from-file=mdsPublicKey.pem=secure-deploy/assets/certs/mds-publickey.txt --from-file=mdsTokenKeyPair.pem=secure-deploy/assets/certs/mds-tokenkeypair.txt --namespace confluent"
    # Kafka RBAC credential
    - "kubectl create secret generic mds-client --from-file=bearer.txt=secure-deploy/bearer.txt --namespace confluent"
    # Control Center RBAC credential
    - "kubectl create secret generic c3-mds-client --from-file=bearer.txt=secure-deploy/c3-mds-client.txt --namespace confluent"
    # Connect RBAC credential
    - "kubectl create secret generic connect-mds-client --from-file=bearer.txt=secure-deploy/connect-mds-client.txt --namespace confluent"
    # Schema Registry RBAC credential
    - "kubectl create secret generic sr-mds-client --from-file=bearer.txt=secure-deploy/sr-mds-client.txt --namespace confluent"
    # Restproxy RBAC credential
    - "kubectl create secret generic rp-mds-client --from-file=bearer.txt=secure-deploy/rp-mds-client.txt --namespace confluent"
    # ksqlDB RBAC credential
    - "kubectl create secret generic ksqldb-mds-client --from-file=bearer.txt=secure-deploy/ksqldb-mds-client.txt --namespace confluent"
    # Kafka REST credential
    - "kubectl create secret generic rest-credential --from-file=bearer.txt=secure-deploy/bearer.txt --from-file=basic.txt=secure-deploy/bearer.txt --namespace confluent"
  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual

Zookeeper:
  stage: confluent_components_deployment
  script:
    #    - "kubeval $ZK"
    - "kubectl apply -f $ZK"
    - "kubectl get pods -n confluent"

  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual

StorageClass:
  stage: confluent_components_deployment
  script:
    #    - "kubeval $ZK"
    - "kubectl apply -f $SC"
    - "kubectl get pods -n confluent"
  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual

Kafka:
  stage: confluent_components_deployment
  script:

    - "kubectl apply -f $KAFKA0"
    #    - "kubectl apply -f $KAFKA1"
    #    - "kubectl apply -f $KAFKA2"
    - "kubectl get pods -n confluent"
  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual
restproxy:
  stage: confluent_components_deployment
  script:

    - "kubectl apply -f $RESTPROXY"
    - "kubectl get pods -n confluent"
  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual
restclass:
  stage: confluent_components_deployment
  script:

    - "kubectl apply -f $RESTCLASS"
    - "kubectl get pods -n confluent"
  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual
connect:
  stage: confluent_components_deployment
  script:

    - "kubectl apply -f $CONNECT"
    - "kubectl get pods -n confluent"
  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual

#replicator:
#  stage: confluent_components_deployment
#  script:
#
#    - "kubectl apply -f $REPLICATOR"
#    - "kubectl get pods -n confluent"
#  environment:
#    name: dev
#  tags:
#    - docker
#  only:
#    - master
#  when: manual

ksqldb:
  stage: confluent_components_deployment
  script:

    - "kubectl apply -f $KSQLDB"
    - "kubectl get pods -n confluent"
  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual

schemaregistry:
  stage: confluent_components_deployment
  script:

    - "kubectl apply -f $SR"
    - "kubectl get pods -n confluent"
  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual

#controlcenter:
#  stage: confluent_components_deployment
#  script:
#
#    - "kubectl apply -f $CC"
#    - "kubectl get pods -n confluent"
#  environment:
#    name: dev
#  tags:
#    - docker
#  only:
#    - master
#  when: manual

zookeeper-destroy:
  stage: confluent_components_destroy
  script:

    - "kubectl delete -f $ZK"
    - "kubectl get pods -n confluent"
  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual

kafka-destroy:
  stage: confluent_components_destroy
  script:

    - "kubectl delete -f $KAFKA0"
    #    - "kubectl delete -f $KAFKA1"
    #    - "kubectl delete -f $KAFKA2"
    - "kubectl get pods -n confluent"
  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual
restproxy-destroy:
  stage: confluent_components_destroy
  script:

    - "kubectl delete -f $RESTPROXY"
    - "kubectl get pods -n confluent"
  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual
restclass-destroy:
  stage: confluent_components_destroy
  script:

    - "kubectl delete -f $RESTCLASS"
    - "kubectl get pods -n confluent"
  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual
connect-destroy:
  stage: confluent_components_destroy
  script:
    - "kubectl delete -f $CONNECT"
    - "kubectl get pods -n confluent"
  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual

#replicator-destroy:
#  stage: confluent_components_destroy
#  script:
#
#    - "kubectl delete -f $REPLICATOR"
#    - "kubectl get pods -n confluent"
#  environment:
#    name: dev
#  tags:
#    - docker
#  only:
#    - master
#  when: manual

ksqldb-destroy:
  stage: confluent_components_destroy
  script:

    - "kubectl delete -f $KSQLDB"
    - "kubectl get pods -n confluent"
  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual

schemaregistry-destroy:
  stage: confluent_components_destroy
  script:

    - "kubectl delete -f $SR"
    - "kubectl get pods -n confluent"
  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual

StorageClass-destroy:
  stage: confluent_components_destroy
  script:
    #    - "kubeval $ZK"
    - "kubectl delete -f $SC"
    - "kubectl get pods -n confluent"
  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual

LDAP_destroy:
  stage: confluent_components_destroy
  script:
    - "helm delete test-ldap --namespace confluent" #add to delete secrets later
  environment:
    name: dev
  tags:
    - docker
  only:
    - master
  when: manual

#Obm account of greenfield
Operator_obm:
  stage: confluent_operator_obm
  script:
    - "kubectl create namespace confluent"
    - "kubectl apply -f $CRD"
    - "kubectl apply -f $CRB -n confluent"
    - "helm upgrade --install confluent-operator helm/confluent-for-kubernetes --namespace confluent"

  environment:
    name: obm
  tags:
    - docker
  only:
    - master
  when: manual

create_all_obm:
  stage: confluent_deployment_obm
  script:
    - "kubectl apply -f $SC"
    - "kubectl apply -f $ZK"
    - "kubectl apply -f $KAFKA0"
    - "kubectl apply -f $KSQLDB"
    - "kubectl apply -f $CONNECT"
    - "kubectl apply -f $SR"
    - "kubectl apply -f $RESTPROXY"
    - "kubectl get pods -n confluent"
  environment:
    name: obm
  tags:
    - docker
  only:
    - master
  when: manual

destroy-all-obm:
  stage: confluent_destroy_obm
  script:
    - "kubectl delete -f $SR"
    - "kubectl delete -f $RESTPROXY"
    - "kubectl delete -f $KAFKA0"
    - "kubectl delete -f $ZK"
    - "kubectl delete -f $KSQLDB"
    - "kubectl delete -f $CONNECT"
    - "kubectl get pods -n confluent"
  environment:
    name: obm
  tags:
    - docker
  only:
    - master
  when: manual


# sbox
Operator_sbox:
  stage: confluent_operator_sbox
  script:
    - "kubectl create namespace confluent"
    - "kubectl apply -f $CRD"
    - "kubectl apply -f $CRB -n confluent"
    - "helm upgrade --install confluent-operator helm/confluent-for-kubernetes --namespace confluent"

  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

create_all_sbox:
  stage: confluent_deployment_sbox
  script:
    - "kubectl apply -f $SC"
    - "kubectl apply -f $ZK"
    - "kubectl apply -f $KAFKA0"
    - "kubectl apply -f $KSQLDB"
    - "kubectl apply -f $CONNECT"
    - "kubectl apply -f $SR"
    - "kubectl apply -f $RESTPROXY"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

destroy-all-sbox:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete -f $SR"
    - "kubectl delete -f $RESTPROXY"
    - "kubectl delete -f $KAFKA0"
    - "kubectl delete -f $ZK"
    - "kubectl delete -f $KSQLDB"
    - "kubectl delete -f $CONNECT"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual
