include: 
  - 'cicd/templates/authenticate.yml'

variables:
  CONF_OPERATOR_VERSION: "0.517.43"
  

stages:
  - authenticate
  - cluster tools
  - confluent operator
  - confluent service

.helm-common:
  image: dtzar/helm-kubectl:3.10

################################################ Environments ###############################################
.sandbox:
  variables:
    ENVIRONMENT: sandbox
    AWS_ROLE_ARN: $AWS_ROLE_ARN_SANDBOX
    EXTERNAL_EKS_CLUSTER: $EKS_CLUSTER_SBOX_DEV_EXT
    INTERNAL_EKS_CLUSTER: $EKS_CLUSTER_SBOX_DEV_INT
    CLUSTER_REGION: eu-north-1

.dev-test:
  variables:
    ENVIRONMENT: devtest
    AWS_ROLE_ARN: $AWS_ROLE_ARN_DEVTEST
    EXTERNAL_EKS_CLUSTER: $EKS_CLUSTER_DEVTEST_EXT
    INTERNAL_EKS_CLUSTER: $EKS_CLUSTER_DEVTEST_INT
    CLUSTER_REGION: eu-north-1

.production:
  variables: 
    ENVIRONMENT: production
    AWS_ROLE_ARN: $AWS_ROLE_ARN_PRODUCTION
    EXTERNAL_EKS_CLUSTER: $EKS_CLUSTER_PROD_EXT
    INTERNAL_EKS_CLUSTER: $EKS_CLUSTER_PROD_INT
    CLUSTER_REGION: eu-north-1

################################################ ClusterType ###############################################

.external:
  variables:
    CLUSTER_TYPE: external

.internal:
  variables:
    CLUSTER_TYPE: internal

# ################################################ Authentication ###############################################
authenticate-sandbox:
  extends: 
  - .sandbox
  - .authenticate

authenticate-devtest:
  extends:
  - .dev-test
  - .authenticate

authenticate-production:
  extends:
  - .production
  - .authenticate

# deploy cluster tools
.cluster-tools-deploy:
  stage: cluster tools
  variables:
    GIT_CLEAN_FLAGS: -ffdx -e .kubeconfig-${ENVIRONMENT}.yaml
  extends:
  - .helm-common
  before_script:
    - . cicd/scripts/.install-aws.bash
    - 'helm repo add bitnami https://charts.bitnami.com/bitnami'
    - 'helm repo add external-secrets https://charts.external-secrets.io'
    - "helm repo add elastic https://helm.elastic.co"
    - "helm repo add stakater https://stakater.github.io/stakater-charts"
    - "helm repo add datadog https://helm.datadoghq.com"
  script:
    - 'helm upgrade 
      --install 
      external-dns 
      bitnami/external-dns 
      --namespace externaldns 
      --create-namespace 
      --values tooling/external-dns/$ENVIRONMENT/values-$CLUSTER_TYPE.yaml
      --kube-context $CLUSTER_TYPE'
    - 'helm upgrade
      --install  
      external-secrets external-secrets/external-secrets
      --namespace external-secrets 
      --create-namespace
      --kube-context $CLUSTER_TYPE'
    - 'helm upgrade 
      --install 
      filebeat elastic/filebeat 
      --namespace filebeat 
      --create-namespace 
      --values tooling/filebeat/$ENVIRONMENT/values-$CLUSTER_TYPE.yaml
      --kube-context $CLUSTER_TYPE'
    - 'helm upgrade 
      --install 
      stakater stakater/reloader 
      --namespace stakater-reloader 
      --create-namespace
      --kube-context $CLUSTER_TYPE'
    - 'helm upgrade
      --install
      datadog datadog/datadog
      --namespace datadog
      -f tooling/datadog/values.yaml
      --kube-context $CLUSTER_TYPE'
    - 'helm upgrade 
      --install cluster-tools charts/cluster-tools 
      --namespace confluent 
      -f tooling/cluster-tools/$ENVIRONMENT/values-$CLUSTER_TYPE.yaml
      --kube-context $CLUSTER_TYPE'
  when: manual

sbox-external cluster-tools:
  stage: cluster tools
  extends:
  - .cluster-tools-deploy
  variables:
    ENVIRONMENT: sandbox
    CLUSTER_TYPE: external
    ROLE_ARN: $ROLE_ARN_SBOX_EXT
    EKS_CLUSTER: $EKS_CLUSTER_SBOX_EXT
  needs: ["authenticate-sandbox"]
  when: manual

sbox-internal cluster-tools:
  stage: cluster tools
  extends:
  - .cluster-tools-deploy
  variables:
    ENVIRONMENT: sandbox
    CLUSTER_TYPE: internal
    ROLE_ARN: $ROLE_ARN_SBOX_INT
    EKS_CLUSTER: $EKS_CLUSTER_SBOX_INT
  needs: ["authenticate-sandbox"]
  when: manual

devtest-external cluster-tools:
  stage: cluster tools
  extends:
  - .cluster-tools-deploy
  variables:
    ENVIRONMENT: devtest
    CLUSTER_TYPE: external
    ROLE_ARN: $ROLE_ARN_DEVTEST_EXT
    EKS_CLUSTER: $EKS_CLUSTER_DEVTEST_EXT
  needs: ["authenticate-devtest"]
  when: manual

devtest-internal cluster-tools:
  stage: cluster tools
  extends:
  - .cluster-tools-deploy
  variables:
    ENVIRONMENT: devtest
    CLUSTER_TYPE: internal
    ROLE_ARN: $ROLE_ARN_DEVTEST_INT
    EKS_CLUSTER: $EKS_CLUSTER_DEVTEST_INT
  needs: ["authenticate-devtest"]
  when: manual

prod-external cluster-tools:
  stage: cluster tools
  extends:
  - .cluster-tools-deploy
  variables:
    ENVIRONMENT: production
    CLUSTER_TYPE: external
    ROLE_ARN: $ROLE_ARN_PROD_EXT
    EKS_CLUSTER: $EKS_CLUSTER_PROD_EXT
  needs: ["authenticate-production"]
  when: manual

prod-internal cluster-tools:
  stage: cluster tools
  extends:
  - .cluster-tools-deploy
  variables:
    ENVIRONMENT: production
    CLUSTER_TYPE: internal
    ROLE_ARN: $ROLE_ARN_PROD_INT
    EKS_CLUSTER: $EKS_CLUSTER_PROD_INT
  needs: ["authenticate-production"]
  when: manual

# deploy confluent operator

.confluent-operator-deploy:
  stage: confluent operator
  extends:
  - .helm-common
  before_script:
    - . scripts/.gitlab-ci-helper.bash "$ROLE_ARN" "$EKS_CLUSTER"
    - 'helm repo add confluent https://packages.confluent.io/helm'
  script:
    - 'helm upgrade 
      --install
      confluent-operator 
      confluent/confluent-for-kubernetes 
      --namespace confluent 
      --create-namespace 
      --values operator/$ENVIRONMENT/values-$CLUSTER_TYPE.yaml 
      --version $CONF_OPERATOR_VERSION'
  when: manual

sbox-external confluent-operator:
  stage: confluent operator
  extends:
  - .confluent-operator-deploy
  variables:
    ENVIRONMENT: sandbox
    CLUSTER_TYPE: external
    ROLE_ARN: $ROLE_ARN_SBOX_EXT
    EKS_CLUSTER: $EKS_CLUSTER_SBOX_EXT
  when: manual

sbox-internal confluent-operator:
  stage: confluent operator
  extends:
  - .confluent-operator-deploy
  variables:
    ENVIRONMENT: sandbox
    CLUSTER_TYPE: internal
    ROLE_ARN: $ROLE_ARN_SBOX_INT
    EKS_CLUSTER: $EKS_CLUSTER_SBOX_INT
  when: manual

devtest-external confluent-operator:
  stage: confluent operator
  extends:
  - .confluent-operator-deploy
  variables:
    ENVIRONMENT: devtest
    CLUSTER_TYPE: external
    ROLE_ARN: $ROLE_ARN_DEVTEST_EXT
    EKS_CLUSTER: $EKS_CLUSTER_DEVTEST_EXT
  when: manual

devtest-internal confluent-operator:
  stage: confluent operator
  extends:
  - .confluent-operator-deploy
  variables:
    ENVIRONMENT: devtest
    CLUSTER_TYPE: internal
    ROLE_ARN: $ROLE_ARN_DEVTEST_INT
    EKS_CLUSTER: $EKS_CLUSTER_DEVTEST_INT
  when: manual

prod-external confluent-operator:
  stage: confluent operator
  extends:
  - .confluent-operator-deploy
  variables:
    ENVIRONMENT: production
    CLUSTER_TYPE: external
    ROLE_ARN: $ROLE_ARN_PROD_EXT
    EKS_CLUSTER: $EKS_CLUSTER_PROD_EXT
  when: manual

prod-internal confluent-operator:
  stage: confluent operator
  extends:
  - .confluent-operator-deploy
  variables:
    ENVIRONMENT: production
    CLUSTER_TYPE: internal
    ROLE_ARN: $ROLE_ARN_PROD_INT
    EKS_CLUSTER: $EKS_CLUSTER_PROD_INT
  when: manual

# deploy confluent services

.confluent-services-deploy:
  stage: confluent service
  extends:
  - .helm-common
  before_script:
    - . scripts/.gitlab-ci-helper.bash "$ROLE_ARN" "$EKS_CLUSTER"
  script:
    - 'helm upgrade 
      --install confluent-services charts/confluent-services/ 
      --namespace confluent 
      -f confluent-services/$ENVIRONMENT/values-$CLUSTER_TYPE.yaml'
  when: manual

sbox-external confluent-service:
  stage: confluent service
  extends:
  - .confluent-services-deploy
  variables:
    ENVIRONMENT: sandbox
    CLUSTER_TYPE: external
    ROLE_ARN: $ROLE_ARN_SBOX_EXT
    EKS_CLUSTER: $EKS_CLUSTER_SBOX_EXT
  when: manual

sbox-internal confluent-service:
  stage: confluent service
  extends:
  - .confluent-services-deploy
  variables:
    ENVIRONMENT: sandbox
    CLUSTER_TYPE: internal
    ROLE_ARN: $ROLE_ARN_SBOX_INT
    EKS_CLUSTER: $EKS_CLUSTER_SBOX_INT
  when: manual

devtest-external confluent-service:
  stage: confluent service
  extends:
  - .confluent-services-deploy
  variables:
    ENVIRONMENT: devtest
    CLUSTER_TYPE: external
    ROLE_ARN: $ROLE_ARN_DEVTEST_EXT
    EKS_CLUSTER: $EKS_CLUSTER_DEVTEST_EXT
  when: manual

devtest-internal confluent-service:
  stage: confluent service
  extends:
  - .confluent-services-deploy
  variables:
    ENVIRONMENT: devtest
    CLUSTER_TYPE: internal
    ROLE_ARN: $ROLE_ARN_DEVTEST_INT
    EKS_CLUSTER: $EKS_CLUSTER_DEVTEST_INT
  when: manual

prod-external confluent-service:
  stage: confluent service
  extends:
  - .confluent-services-deploy
  variables:
    ENVIRONMENT: production
    CLUSTER_TYPE: external
    ROLE_ARN: $ROLE_ARN_PROD_EXT
    EKS_CLUSTER: $EKS_CLUSTER_PROD_EXT
  when: manual

prod-internal confluent-service:
  stage: confluent service
  extends:
  - .confluent-services-deploy
  variables:
    ENVIRONMENT: production
    CLUSTER_TYPE: internal
    ROLE_ARN: $ROLE_ARN_PROD_INT
    EKS_CLUSTER: $EKS_CLUSTER_PROD_INT
  when: manual
