---

variables:

  SC                        : 'helm/confluent-for-kubernetes/confluent-platform-7.1.1/iris-streaming-storage-class.yaml'
  CRD                       : 'helm/confluent-for-kubernetes/crds'
  CRB                       : 'helm/confluent-for-kubernetes/crds/platform.confluent.io_confluentrolebindings.yaml'
  ZK                        : 'helm/confluent-for-kubernetes/confluent-platform-7.1.1/iris-streaming-zookeeper.yaml'
  KAFKA                     : 'helm/confluent-for-kubernetes/confluent-platform-7.1.1/iris-streaming-kafka.yaml'
  SR                        : 'helm/confluent-for-kubernetes/confluent-platform-7.1.1/iris-streaming-schemaregistry.yaml'
  SRP                       : 'helm/confluent-for-kubernetes/confluent-platform-7.1.1/iris-streaming-schemaregistry-p.yaml'
  KSQLDB                    : 'helm/confluent-for-kubernetes/confluent-platform-7.1.1/iris-streaming-ksqldb.yaml'
  AWSCONNECT                : 'helm/confluent-for-kubernetes/confluent-platform-7.1.1/iris-streaming-awsconnect.yaml'
  MECONNECT                 : 'helm/confluent-for-kubernetes/confluent-platform-7.1.1/iris-streaming-meconnect.yaml'
  ONPREMCONNECT             : 'helm/confluent-for-kubernetes/confluent-platform-7.1.1/iris-streaming-onpremconnect.yaml'
  RESTPROXY                 : 'helm/confluent-for-kubernetes/confluent-platform-7.1.1/iris-streaming-restproxy.yaml'
  RPLOADB                   : 'helm/confluent-for-kubernetes/confluent-platform-7.1.1/iris-streaming-restproxy-int-lb.yaml'
  RESTCLASS                 : 'helm/confluent-for-kubernetes/confluent-platform-7.1.1/iris-streaming-restclass.yaml'
  CC                        : 'helm/confluent-for-kubernetes/confluent-platform-7.1.1/iris-streaming-control-center.yaml'
  DATADOG                   : 'helm/confluent-for-kubernetes/confluent-platform-7.1.1/iris-streaming-datadog-agent.yaml'

  GIT_SUBMODULE_STRATEGY    : recursive


stages:
  - confluent_operator_sbox
  - confluent_deployment_sbox
  - confluent_destroy_sbox

image: dtzar/helm-kubectl
before_script:
  - chmod 700 /builds/streaming-iris/iris-streaming-confluent-platform/iris-streaming-service-deployment/iris-streaming-external-service
  - apk update
  - apk add zip jq python3 python3-dev py3-pip gcc linux-headers libffi-dev openssl-dev make musl-dev curl
  - pip install --upgrade pip awscli
  - mkdir ~/.aws
  - touch ~/.aws/config
  - echo "[default]" > ~/.aws/config
  - echo "$region" >> ~/.aws/config
  - echo "$role_arn" >> ~/.aws/config
  - echo "$role_arn"
  - echo "credential_source=Ec2InstanceMetadata" >> ~/.aws/config
  - export EC2_REGION=$(curl -s http://169.254.169.254/latest/dynamic/instance-identity/document  | jq  --raw-output '.region')
  - export AWS_ACCOUNT=$(curl -s http://169.254.169.254/latest/dynamic/instance-identity/document | jq  --raw-output '.accountId')
  - export AWS_PROFILE=default
  #  - wget https://github.com/instrumenta/kubeval/releases/latest/download/kubeval-linux-amd64.tar.gz
  #  - tar xf kubeval-linux-amd64.tar.gz
  #  - cp kubeval /usr/local/bin
  - aws sts get-caller-identity
  - echo "$eks_cluster"
  - aws eks --region "$cluster_region" update-kubeconfig --name "$eks_cluster"
  - kubectl get nodes

Operator:
  stage: confluent_operator_sbox
  script:
    - "kubectl create namespace confluent"
    - "kubectl apply -f $CRD"
    - "kubectl apply -f $CRB -n confluent"
    - "helm upgrade --install confluent-operator helm/confluent-for-kubernetes --namespace confluent"
    - "kubectl set env ds aws-node -n kube-system WARM_IP_TARGET=2"
    - "kubectl set env ds aws-node -n kube-system MINIMUM_IP_TARGET=2"
    - "kubectl rollout restart ds aws-node -n kube-system"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

Bitnami-Sealed-Secrets:
  environment: 
    name: sbox
  only: 
    - master
  script:
    - "kubectl apply -f secure-deploy/bitnami-sealed-secrets/sealed-secrets.yaml"
    - "kubectl create configmap keytab-cm --from-file=kt-key=secure-deploy/bitnami-sealed-secrets/ServiceIrisSspTest.keytab"
    - "kubectl create configmap krb-cm --from-file=krb5.conf=secure-deploy/bitnami-sealed-secrets/krb5.conf"
  stage: confluent_deployment_sbox
  tags: 
    - docker
  when: manual

external-secrets: 
  environment: 
    name: sbox
  only: 
    - master
  script:
    - "helm repo add external-secrets https://charts.external-secrets.io"
    - "helm upgrade --namespace external-secrets --create-namespace --install --wait external-secrets external-secrets/external-secrets"
    - "kubectl apply -f secure-deploy/external-secrets-operator/external-secrets.yaml"
    - "kubectl create configmap keytab-cm --from-file=kt-key=secure-deploy/external-secrets-operator/ServiceIrisSspTest.keytab"
    - "kubectl create configmap krb-cm --from-file=krb5.conf=secure-deploy/external-secrets-operator/krb5.conf"
  stage: confluent_deployment_sbox
  tags: 
    - docker
  when: manual

filebeat:
  stage: confluent_deployment_sbox
  script:
    - "kubectl apply -f secure-deploy/logging/serviceaccount.yaml"
    - "kubectl apply -f secure-deploy/logging/filebeat.yaml"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

Datadog:
  stage: confluent_deployment_sbox
  script:
    - "kubectl create namespace datadog"
    - "kubectl apply -f $DATADOG -n datadog"
    - "kubectl get daemonset -n datadog"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

external-dns:
  stage: confluent_deployment_sbox
  script:
    - "kubectl apply -f secure-deploy/external-dns/serviceaccount.yaml"
    - "kubectl apply -f secure-deploy/external-dns/resources.yaml"
  environment: 
    name: sbox
  tags: 
    - docker
  only: 
    - master
  when: manual

Zookeeper:
  stage: confluent_deployment_sbox
  script:
    - "kubectl apply -f $ZK"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

StorageClass:
  stage: confluent_deployment_sbox
  script:
    - "kubectl apply -f $SC"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

Kafka:
  stage: confluent_deployment_sbox
  script:
    - "kubectl apply -f $KAFKA"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

restproxy:
  stage: confluent_deployment_sbox
  script:
    - "kubectl apply -f $RESTPROXY"
    - "kubectl apply -f $RPLOADB"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

restclass:
  stage: confluent_deployment_sbox
  script:
    - "kubectl apply -f $RESTCLASS"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

awsconnect:
  stage: confluent_deployment_sbox
  script:
    - "kubectl apply -f $AWSCONNECT"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

meconnect:
  stage: confluent_deployment_sbox
  script:
    - "kubectl apply -f $MECONNECT"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

onpremconnect:
  stage: confluent_deployment_sbox
  script:
    - "kubectl apply -f $ONPREMCONNECT"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

ksqldb:
  stage: confluent_deployment_sbox
  script:
    - "kubectl apply -f $KSQLDB"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

schemaregistry:
  stage: confluent_deployment_sbox
  script:
    - "kubectl apply -f $SR"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

schemaregistry-Priv:
  stage: confluent_deployment_sbox
  script:
    - "kubectl apply -f $SRP"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

controlcenter:
  stage: confluent_deployment_sbox
  script:
    - "kubectl apply -f $CC"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

# Destroy sandbox components in below order
zookeeper-destroy:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete -f $ZK"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

kafka-destroy:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete -f $KAFKA"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

restproxy-destroy:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete -f $RESTPROXY"
    - "kubectl delete -f $RPLOADB"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

restclass-destroy:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete -f $RESTCLASS"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

awsconnect-destroy:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete -f $AWSCONNECT"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

meconnect-destroy:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete -f $MECONNECT"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

onpremconnect-destroy:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete -f $ONPREMCONNECT"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

ksqldb-destroy:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete -f $KSQLDB"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

schemaregistry-destroy:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete -f $SR"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

schemaregistry-PRIV-destroy:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete -f $SRP"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

StorageClass-destroy:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete -f $SC"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

operator_sbox_destroy:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete deploy confluent-operator -n confluent"
    - "kubectl get pods -n confluent"
    - "kubectl delete ns confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

controlcenter-destroy:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete -f $CC"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

#destroy all the services in one-go:

destroy_all:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete -f $SR"
    - "kubectl delete -f $ONPREMCONNECT"
    - "kubectl delete -f $RP"
    - "kubectl delete -f $CC"
    - "kubectl delete -f $RESTCLASS"
    - "kubectl delete -f $KAFKA"
    - "kubectl delete -f $ZK"
    - "kubectl get pods -n confluent"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

Datadog-destroy:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete -f $DATADOG -n datadog"
    - "kubectl get daemonset -n datadog"
    - "kubectl delete namespace datadog"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

external-dns-destroy:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete -f secure-deploy/external-dns/resources.yaml"
    - "kubectl delete -f secure-deploy/external-dns/serviceaccount.yaml"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual

external-secrets-destroy:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete -f secure-deploy/external-secrets-operator/external-secrets.yaml"
    - "kubectl delete configmap keytab-cm -n confluent"
    - "kubectl delete configmap krb-cm -n confluent"
    - "kubectl delete ns external-secrets"
  environment: 
    name: sbox
  only: 
    - master
  tags: 
    - docker
  when: manual

filebeat-destroy:
  stage: confluent_destroy_sbox
  script:
    - "kubectl delete -f secure-deploy/logging/filebeat.yaml"
    - "kubectl delete -f secure-deploy/logging/serviceaccount.yaml"
  environment:
    name: sbox
  tags:
    - docker
  only:
    - master
  when: manual
