include: 
  - 'cicd/templates/authenticate.yml'
  - 'cicd/templates/cluster-tools.yml'
  - 'cicd/templates/confluent-operator.yml'
  - 'cicd/templates/confluent-services.yml'

variables:
  CONF_OPERATOR_VERSION: "0.517.43"
  

stages:
  - authenticate
  - cluster tools
  - confluent operator
  - confluent service

.helm-common:
  image: dtzar/helm-kubectl:3.10

################################################ Environments ###############################################
.sandbox:
  variables:
    ENVIRONMENT: sandbox
    AWS_ROLE_ARN: $AWS_ROLE_ARN_SANDBOX
    EXTERNAL_EKS_CLUSTER: $EKS_CLUSTER_SBOX_EXT
    INTERNAL_EKS_CLUSTER: $EKS_CLUSTER_SBOX_INT
    CLUSTER_REGION: eu-north-1

.dev-test:
  variables:
    ENVIRONMENT: devtest
    AWS_ROLE_ARN: $AWS_ROLE_ARN_DEVTEST
    EXTERNAL_EKS_CLUSTER: $EKS_CLUSTER_DEVTEST_EXT
    INTERNAL_EKS_CLUSTER: $EKS_CLUSTER_DEVTEST_INT
    CLUSTER_REGION: eu-north-1

.production:
  variables: 
    ENVIRONMENT: production
    AWS_ROLE_ARN: $AWS_ROLE_ARN_PRODUCTION
    EXTERNAL_EKS_CLUSTER: $EKS_CLUSTER_PROD_EXT
    INTERNAL_EKS_CLUSTER: $EKS_CLUSTER_PROD_INT
    CLUSTER_REGION: eu-north-1

################################################ ClusterType ###############################################

.external:
  variables:
    CLUSTER_TYPE: external

.internal:
  variables:
    CLUSTER_TYPE: internal

# ################################################ Authentication ###############################################
authenticate-sandbox:
  extends: 
  - .sandbox
  - .authenticate

authenticate-devtest:
  extends:
  - .dev-test
  - .authenticate

authenticate-production:
  extends:
  - .production
  - .authenticate

################################################# Cluster Tools ###############################################
sbox-external cluster-tools:
  stage: cluster tools
  extends:
  - .cluster-tools-deploy
  variables:
    ENVIRONMENT: sandbox
    CLUSTER_TYPE: external
    ROLE_ARN: $ROLE_ARN_SBOX_EXT
    EKS_CLUSTER: $EKS_CLUSTER_SBOX_EXT
  needs: ["authenticate-sandbox"]
  when: manual

sbox-internal cluster-tools:
  stage: cluster tools
  extends:
  - .cluster-tools-deploy
  variables:
    ENVIRONMENT: sandbox
    CLUSTER_TYPE: internal
    ROLE_ARN: $ROLE_ARN_SBOX_INT
    EKS_CLUSTER: $EKS_CLUSTER_SBOX_INT
  needs: ["authenticate-sandbox"]
  when: manual

devtest-external cluster-tools:
  stage: cluster tools
  extends:
  - .cluster-tools-deploy
  variables:
    ENVIRONMENT: devtest
    CLUSTER_TYPE: external
    ROLE_ARN: $ROLE_ARN_DEVTEST_EXT
    EKS_CLUSTER: $EKS_CLUSTER_DEVTEST_EXT
  needs: ["authenticate-devtest"]
  when: manual

devtest-internal cluster-tools:
  stage: cluster tools
  extends:
  - .cluster-tools-deploy
  variables:
    ENVIRONMENT: devtest
    CLUSTER_TYPE: internal
    ROLE_ARN: $ROLE_ARN_DEVTEST_INT
    EKS_CLUSTER: $EKS_CLUSTER_DEVTEST_INT
  needs: ["authenticate-devtest"]
  when: manual

prod-external cluster-tools:
  stage: cluster tools
  extends:
  - .cluster-tools-deploy
  variables:
    ENVIRONMENT: production
    CLUSTER_TYPE: external
    ROLE_ARN: $ROLE_ARN_PROD_EXT
    EKS_CLUSTER: $EKS_CLUSTER_PROD_EXT
  needs: ["authenticate-production"]
  when: manual

prod-internal cluster-tools:
  stage: cluster tools
  extends:
  - .cluster-tools-deploy
  variables:
    ENVIRONMENT: production
    CLUSTER_TYPE: internal
    ROLE_ARN: $ROLE_ARN_PROD_INT
    EKS_CLUSTER: $EKS_CLUSTER_PROD_INT
  needs: ["authenticate-production"]
  when: manual

################################################# Confluent Operator ###############################################
sbox-external confluent-operator:
  stage: confluent operator
  extends:
  - .confluent-operator-deploy
  variables:
    ENVIRONMENT: sandbox
    CLUSTER_TYPE: external
    ROLE_ARN: $ROLE_ARN_SBOX_EXT
    EKS_CLUSTER: $EKS_CLUSTER_SBOX_EXT
  needs: ["authenticate-sandbox"]
  when: manual

sbox-internal confluent-operator:
  stage: confluent operator
  extends:
  - .confluent-operator-deploy
  variables:
    ENVIRONMENT: sandbox
    CLUSTER_TYPE: internal
    ROLE_ARN: $ROLE_ARN_SBOX_INT
    EKS_CLUSTER: $EKS_CLUSTER_SBOX_INT
  needs: ["authenticate-sandbox"]
  when: manual

devtest-external confluent-operator:
  stage: confluent operator
  extends:
  - .confluent-operator-deploy
  variables:
    ENVIRONMENT: devtest
    CLUSTER_TYPE: external
    ROLE_ARN: $ROLE_ARN_DEVTEST_EXT
    EKS_CLUSTER: $EKS_CLUSTER_DEVTEST_EXT
  needs: ["authenticate-devtest"]
  when: manual

devtest-internal confluent-operator:
  stage: confluent operator
  extends:
  - .confluent-operator-deploy
  variables:
    ENVIRONMENT: devtest
    CLUSTER_TYPE: internal
    ROLE_ARN: $ROLE_ARN_DEVTEST_INT
    EKS_CLUSTER: $EKS_CLUSTER_DEVTEST_INT
  needs: ["authenticate-devtest"]
  when: manual

prod-external confluent-operator:
  stage: confluent operator
  extends:
  - .confluent-operator-deploy
  variables:
    ENVIRONMENT: production
    CLUSTER_TYPE: external
    ROLE_ARN: $ROLE_ARN_PROD_EXT
    EKS_CLUSTER: $EKS_CLUSTER_PROD_EXT
  needs: ["authenticate-production"]
  when: manual

prod-internal confluent-operator:
  stage: confluent operator
  extends:
  - .confluent-operator-deploy
  variables:
    ENVIRONMENT: production
    CLUSTER_TYPE: internal
    ROLE_ARN: $ROLE_ARN_PROD_INT
    EKS_CLUSTER: $EKS_CLUSTER_PROD_INT
  needs: ["authenticate-production"]
  when: manual

################################################# Confluent Services ###############################################
sbox-external confluent-service:
  stage: confluent service
  extends:
  - .confluent-services-deploy
  variables:
    ENVIRONMENT: sandbox
    CLUSTER_TYPE: external
    ROLE_ARN: $ROLE_ARN_SBOX_EXT
    EKS_CLUSTER: $EKS_CLUSTER_SBOX_EXT
  needs: ["authenticate-sandbox"]
  when: manual

sbox-internal confluent-service:
  stage: confluent service
  extends:
  - .confluent-services-deploy
  variables:
    ENVIRONMENT: sandbox
    CLUSTER_TYPE: internal
    ROLE_ARN: $ROLE_ARN_SBOX_INT
    EKS_CLUSTER: $EKS_CLUSTER_SBOX_INT
  needs: ["authenticate-sandbox"]
  when: manual

devtest-external confluent-service:
  stage: confluent service
  extends:
  - .confluent-services-deploy
  variables:
    ENVIRONMENT: devtest
    CLUSTER_TYPE: external
    ROLE_ARN: $ROLE_ARN_DEVTEST_EXT
    EKS_CLUSTER: $EKS_CLUSTER_DEVTEST_EXT
  needs: ["authenticate-devtest"]
  when: manual

devtest-internal confluent-service:
  stage: confluent service
  extends:
  - .confluent-services-deploy
  variables:
    ENVIRONMENT: devtest
    CLUSTER_TYPE: internal
    ROLE_ARN: $ROLE_ARN_DEVTEST_INT
    EKS_CLUSTER: $EKS_CLUSTER_DEVTEST_INT
  needs: ["authenticate-devtest"]
  when: manual

prod-external confluent-service:
  stage: confluent service
  extends:
  - .confluent-services-deploy
  variables:
    ENVIRONMENT: production
    CLUSTER_TYPE: external
    ROLE_ARN: $ROLE_ARN_PROD_EXT
    EKS_CLUSTER: $EKS_CLUSTER_PROD_EXT
  needs: ["authenticate-production"]
  when: manual

prod-internal confluent-service:
  stage: confluent service
  extends:
  - .confluent-services-deploy
  variables:
    ENVIRONMENT: production
    CLUSTER_TYPE: internal
    ROLE_ARN: $ROLE_ARN_PROD_INT
    EKS_CLUSTER: $EKS_CLUSTER_PROD_INT
  needs: ["authenticate-production"]
  when: manual
