include: 
  - 'cicd/templates/authenticate.yml'
  - 'cicd/templates/cluster-tools.yml'
  - 'cicd/templates/confluent-operator.yml'
  - 'cicd/templates/confluent-services.yml'

variables:
  CONF_OPERATOR_VERSION: "0.517.43"
  

stages:
  - authenticate
  - cluster tools
  - confluent operator
  - confluent service

.helm-common:
  image: dtzar/helm-kubectl:3.10

################################################ Environments ###############################################
.sandbox:
  variables:
    ENVIRONMENT: sandbox
    AWS_ROLE_ARN: $AWS_ROLE_ARN_SANDBOX
    EXTERNAL_EKS_CLUSTER: $EKS_CLUSTER_SBOX_EXT
    INTERNAL_EKS_CLUSTER: $EKS_CLUSTER_SBOX_INT
    CLUSTER_REGION: eu-north-1
    CONF_OPERATOR_VERSION: "0.581.34"

.dev-test:
  variables:
    ENVIRONMENT: devtest
    AWS_ROLE_ARN: $AWS_ROLE_ARN_DEVTEST
    EXTERNAL_EKS_CLUSTER: $EKS_CLUSTER_DEVTEST_EXT
    INTERNAL_EKS_CLUSTER: $EKS_CLUSTER_DEVTEST_INT
    CLUSTER_REGION: eu-north-1

.production:
  variables: 
    ENVIRONMENT: production
    AWS_ROLE_ARN: $AWS_ROLE_ARN_PRODUCTION
    EXTERNAL_EKS_CLUSTER: $EKS_CLUSTER_PROD_EXT
    INTERNAL_EKS_CLUSTER: $EKS_CLUSTER_PROD_INT
    CLUSTER_REGION: eu-north-1

################################################ ClusterType ###############################################

.external:
  variables:
    CLUSTER_TYPE: external
    EKS_CLUSTER: $EXTERNAL_EKS_CLUSTER

.internal:
  variables:
    CLUSTER_TYPE: internal
    EKS_CLUSTER: "$INTERNAL_EKS_CLUSTER"

################################################# Cluster Tools ###############################################
sbox-external cluster-tools:
  stage: cluster tools
  extends:
  - .cluster-tools-deploy
  - .sandbox
  - .external
  when: manual

sbox-internal cluster-tools:
  stage: cluster tools
  extends:
  - .cluster-tools-deploy
  - .sandbox
  - .internal
  when: manual

devtest-external cluster-tools:
  stage: cluster tools
  extends:
  - .cluster-tools-deploy
  - .dev-test
  - .external
  when: manual

devtest-internal cluster-tools:
  stage: cluster tools
  extends:
  - .cluster-tools-deploy
  - .dev-test
  - .internal
  when: manual

prod-external cluster-tools:
  stage: cluster tools
  extends:
  - .cluster-tools-deploy
  - .production
  - .external
  when: manual

prod-internal cluster-tools:
  stage: cluster tools
  extends:
  - .cluster-tools-deploy
  - .production
  - .internal
  when: manual

################################################# Confluent Operator ###############################################
sbox-external confluent-operator:
  stage: confluent operator
  extends:
  - .confluent-operator-deploy
  - .sandbox
  - .external
  when: manual

sbox-internal confluent-operator:
  stage: confluent operator
  extends:
  - .confluent-operator-deploy
  - .sandbox
  - .internal
  when: manual

devtest-external confluent-operator:
  stage: confluent operator
  extends:
  - .confluent-operator-deploy
  - .dev-test
  - .external
  when: manual

devtest-internal confluent-operator:
  stage: confluent operator
  extends:
  - .confluent-operator-deploy
  - .dev-test
  - .internal

prod-external confluent-operator:
  stage: confluent operator
  extends:
  - .confluent-operator-deploy
  - .production
  - .external
  when: manual

prod-internal confluent-operator:
  stage: confluent operator
  extends:
  - .confluent-operator-deploy
  - .production
  - .internal
  when: manual

################################################# Confluent Services ###############################################
sbox-external confluent-service:
  stage: confluent service
  extends:
  - .confluent-services-deploy
  - .sandbox
  - .external
  when: manual

sbox-internal confluent-service:
  stage: confluent service
  extends:
  - .confluent-services-deploy
  - .sandbox
  - .internal
  when: manual

devtest-external confluent-service:
  stage: confluent service
  extends:
  - .confluent-services-deploy
  - .dev-test
  - .external
  when: manual

devtest-internal confluent-service:
  stage: confluent service
  extends:
  - .confluent-services-deploy
  - .dev-test
  - .internal
  when: manual

prod-external confluent-service:
  stage: confluent service
  extends:
  - .confluent-services-deploy
  - .production
  - .external
  when: manual

prod-internal confluent-service:
  stage: confluent service
  extends:
  - .confluent-services-deploy
  - .production
  - .internal
  when: manual
