providers:
  kubernetesIngress:
    publishedService:
      enabled: true

deployment:
  replicas: 3

updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 2
    maxSurge: 1

service:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    external-dns.alpha.kubernetes.io/ttl: "300"
    external-dns.alpha.kubernetes.io/hostname:
      "*.kafka.iris-streaming.devtest.aws.scania.com,
      *.mtlsaws.kafka.iris-streaming.devtest.aws.scania.com,
      *.oauthaws.kafka.iris-streaming.devtest.aws.scania.com,
      *.mtls.kafka.iris-streaming.devtest.aws.scania.com,
      *.oauth.kafka.iris-streaming.devtest.aws.scania.com,
      controlcenter.iris-streaming.devtest.aws.scania.com"
    service.beta.kubernetes.io/aws-load-balancer-type: nlb
    service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
    service.beta.kubernetes.io/aws-load-balancer-subnets: subnet-03bb1df2bc15436b6, subnet-061b406bbac050fcb, subnet-0a71781428bea6c6e
    service.beta.kubernetes.io/load-balancer-source-ranges: "13.51.115.193/32, 13.51.132.182/32, 13.51.138.3/32"
    service.beta.kubernetes.io/aws-load-balancer-name: external-public-ingress
    service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: "600"
    service.beta.kubernetes.io/aws-load-balancer-target-group-attributes: "stickiness.enabled=true,stickiness.type=source_ip,preserve_client_ip.enabled=true"
    service.beta.kubernetes.io/aws-load-balancer-target-node-labels: "eks.amazonaws.com/nodegroup=infra-ingress-nodes"
    service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
    service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags: "cluster_type=external,lb_type=public"

  spec:
    externalTrafficPolicy: Local
    allocateLoadBalancerNodePorts: false
    
  internal:
    type: LoadBalancer
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      external-dns.alpha.kubernetes.io/ttl: "300"
      external-dns.alpha.kubernetes.io/hostname:
        "*.kafka-op.iris-streaming.devtest.aws.scania.com,
        *.mtls.kafka-op.iris-streaming.devtest.aws.scania.com,
        *.oauth.kafka-op.iris-streaming.devtest.aws.scania.com,
        *.mtlsonprem.kafka.iris-streaming.devtest.aws.scania.com,
        mtlsonprem.kafka.iris-streaming.devtest.aws.scania.com,
        *.oauthonprem.kafka.iris-streaming.devtest.aws.scania.com,
        oauthonprem.kafka.iris-streaming.devtest.aws.scania.com"
      service.beta.kubernetes.io/aws-load-balancer-type: nlb
      service.beta.kubernetes.io/aws-load-balancer-internal: "true"
      service.beta.kubernetes.io/aws-load-balancer-subnets: subnet-03bb1df2bc15436b6, subnet-061b406bbac050fcb, subnet-0a71781428bea6c6e
      service.beta.kubernetes.io/load-balancer-source-ranges: "13.51.115.193/32, 13.51.132.182/32, 13.51.138.3/32"
      service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: "600"
      service.beta.kubernetes.io/aws-load-balancer-name: external-private-ingress
      service.beta.kubernetes.io/aws-load-balancer-target-group-attributes: "stickiness.enabled=true,stickiness.type=source_ip,preserve_client_ip.enabled=true"
      service.beta.kubernetes.io/aws-load-balancer-target-node-labels: "eks.amazonaws.com/nodegroup=infra-ingress-nodes"
      service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
      service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags: "cluster_type=external,lb_type=private"
    spec:
      externalTrafficPolicy: Local
      allocateLoadBalancerNodePorts: false

securityContext:
  runAsUser: 0
  runAsGroup: 0
  runAsNonRoot: false
  capabilities:
    drop:
      - ALL
    add:
      - NET_BIND_SERVICE

ports:
  websecure:
    port: 443
  kafka:
    expose: true
    port: 9092
    protocol: TCP

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: service
              operator: In
              values:
                - infra
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchLabels:
            app.kubernetes.io/name: '{{ template "traefik.name" . }}'
            app.kubernetes.io/instance: '{{ .Release.Name }}-{{ .Release.Namespace }}'
        topologyKey: kubernetes.io/hostname

logs:
  general:
    level: DEBUG
  access:
    enabled: true
