{{- range $ksql := .Values.ksql }}
{{- if $ksql.enabled }}
---
apiVersion: platform.confluent.io/v1beta1
kind: KsqlDB
metadata:
  name: {{ $ksql.name | default ("ksqldb") }}
  namespace: confluent
  labels: 
    admission.datadoghq.com/enabled: "true"
spec:
  replicas: {{ $ksql.replicas | default (2) }}
  image:
    application: confluentinc/cp-ksqldb-server:{{ $ksql.confluentVersion | default $.Values.defaults.confluent.platformVersion }}
    init: confluentinc/confluent-init-container:{{ $ksql.cfkVersion | default $.Values.defaults.confluent.cfkVersion }}
  dataVolumeCapacity: {{ $ksql.dataVolumeCapacity }}
  {{- if or $ksql.configOverrides $.Values.defaults.ksql.configOverrides }}
  configOverrides:
    {{- with merge (($ksql.configOverrides).log4j) (($.Values.defaults.ksql.configOverrides).log4j) }}
    log4j:
      {{- range $key, $value := . }}
      - {{ $key }}={{ $value }}
      {{- end }}
    {{- end }}
    {{- with merge (($ksql.configOverrides).jvm) (($.Values.defaults.ksql.configOverrides).jvm) }}
    jvm:
      {{- range $key, $value := . }}
      - "{{ $key }}={{ $value }}"
      {{- end }}
    {{- end }}
    {{- with merge ($ksql.configOverrides).server (($.Values.defaults.ksql.configOverrides).server) }}
    server:
      {{- range $key, $value := . }}
      - {{ $key }}={{ $value }}
      {{- end }}
    {{- end }}
    {{- end }}
  authorization:
    type: rbac
  tls:
    secretRef: tls-group
  dependencies:
    kafka:
      bootstrapEndpoint: kafka.confluent.svc.cluster.local:9071
      authentication:
        type: plain
        jaasConfig:
          secretRef: {{ $ksql.kafkaCredentialsSecret | default ("credential")}}
      tls:
        enabled: true
    mds:
      endpoint: https://kafka.confluent.svc.cluster.local:8090
      tokenKeyPair:
        secretRef: mds-token
      authentication:
        type: bearer
        bearer:
          secretRef: mds-client
      tls:
        enabled: true
    schemaRegistry:
      authentication:
        basic:
          secretRef: {{ $ksql.kafkaCredentialsSecret | default ("rest-credential")}}
        type: basic
      tls:
        enabled: true
      url: https://schemaregistry.confluent.svc.cluster.local:8081
{{- if hasKey $ksql "loadbalancer" }}
  externalAccess:
    type: loadBalancer
    loadBalancer:
      annotations:
        service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
        service.beta.kubernetes.io/aws-load-balancer-subnets: {{ $.Values.subnets.public }}
        service.beta.kubernetes.io/aws-load-balancer-target-node-labels: service=k2
        service.beta.kubernetes.io/aws-load-balancer-name: {{ $ksql.loadbalancer.name }}
      domain: {{ $.Values.domain }}
      prefix: {{ $ksql.dns.prefix }}
{{- end }}
  storageClass:
    name: standard
  podTemplate:
    podSecurityContext:
      fsGroup: 1000
      runAsGroup: 1000
      runAsUser: 1000
    annotations:
      ad.datadoghq.com/ksqldb.check_names: '["confluent_platform"]'
      ad.datadoghq.com/ksqldb.init_configs: '[{"is_jmx": true, "collect_default_metrics": true, "service_check_prefix": "confluent", "new_gc_metrics": true, "collect_default_jvm_metrics": true}]'
      ad.datadoghq.com/ksqldb.instances: '[{"host": "%%host%%","port":"7203"}]'
      ad.datadoghq.com/ksqldb.logs: '[{"source":"confluent_platform","service":"confluent_platform"}]'
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: service
                  operator: In
                  values:
                    - k2
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - kafka
                    - zookeeper
            topologyKey: kubernetes.io/hostname
{{- end }}
{{- end }}