apiVersion: platform.confluent.io/v1beta1
kind: KafkaRestProxy
metadata:
  name: kafkarestproxy
  namespace: confluent
spec:
  {{ with .Values.restProxy.authentication}}
  authentication:
{{toYaml . | indent 4}}
  {{- end }}
  tls:
    secretRef: tls-group
  authorization:
    type: rbac
  {{ with .Values.restProxy.configOverrides }}
  configOverrides:
    {{- with .log4j }}
    log4j:
      {{- range $key, $value := . }}
      - {{ $key }}={{ $value }}
      {{- end }}
    {{- end }}
    {{- with .jvm }}
    jvm:
      {{- range $key, $value := . }}
      - "{{ $key }}={{ $value }}"
      {{- end }}
    {{- end }}
    {{- with .server }}
    server:
      {{- range $key, $value := . }}
      - {{ $key }}={{ $value }}
      {{- end }}
    {{- end }}
    {{- end }}
  dependencies:
    kafka:
      bootstrapEndpoint:  kafka.confluent.svc.cluster.local:9071
      authentication:
        type: plain
        jaasConfig:
          secretRef: credential
      tls:
        enabled: true
    mds:
      endpoint: https://kafka.confluent.svc.cluster.local:8090
      tokenKeyPair:
        secretRef: mds-token
      authentication:
        type: bearer
        bearer:
          secretRef: mds-client 
      tls:
        enabled: true
    schemaRegistry:
      url: https://schemaregistry.confluent.svc.cluster.local:8081
      tls:
        enabled: true
      {{- with .Values.restProxy.dependencies.schemaRegistry.authentication}}
      authentication:
{{ toYaml . | indent 8 }}
      {{- end }}
  image:
    application: confluentinc/cp-kafka-rest:{{ .Values.restProxy.confluentVersion | default .Values.defaults.confluent.platformVersion }}
    init: confluentinc/confluent-init-container:{{ .Values.restProxy.cfkVersion | default .Values.defaults.confluent.cfkVersion }}
  replicas: 1
  {{- with .Values.restProxy.mountedVolumes }}
  mountedVolumes:
{{ toYaml . | indent 4 }}
  {{- end }}
  externalAccess:
    type: loadBalancer
    loadBalancer:
      annotations:
        {{- if .Values.restProxy.loadbalancer.internal }}
        service.beta.kubernetes.io/aws-load-balancer-scheme: internal
        service.beta.kubernetes.io/aws-load-balancer-subnets: {{ .Values.subnets.private }}
        service.beta.kubernetes.io/aws-load-balancer-internal: "true"
        {{- else }}
        service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
        service.beta.kubernetes.io/aws-load-balancer-subnets: {{ .Values.subnets.public }}
        {{- end }}
        service.beta.kubernetes.io/aws-load-balancer-target-node-labels: service={{ .Values.restProxy.loadbalancer.nodeLabels | default "srrp" }}
        service.beta.kubernetes.io/aws-load-balancer-name: {{ .Values.restProxy.loadbalancer.name }}
      domain: {{ .Values.domain }}
      prefix: {{ .Values.restProxy.dns.prefix }} 

  podTemplate:
    resources:
      requests:
        memory: "1Gi"
        cpu: "0.5m"
      limits:
        memory: "4Gi"
    podSecurityContext:
      fsGroup: 1000
      runAsGroup: 1000
      runAsUser: 1000
    annotations:
      ad.datadoghq.com/kafkarestproxy.check_names: '["confluent_platform"]'
      ad.datadoghq.com/kafkarestproxy.init_configs: '[{"is_jmx": true, "collect_default_metrics": true, "service_check_prefix": "confluent", "new_gc_metrics": true, "collect_default_jvm_metrics": true}]'
      ad.datadoghq.com/kafkarestproxy.instances: '[{"host": "%%host%%","port":"7203", "max_returned_metrics":1800}]'
      ad.datadoghq.com/kafkarestproxy.logs: '[{"source":"confluent_platform","service":"confluent_platform"}]'
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: service
                  operator: In
                  values:
                    - {{ .Values.restProxy.nodeAffinityServiceName | default "kafka" }}
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                  {{- range .Values.restProxy.podAntiAffinity }}
                  - {{ . }}
                  {{- end }}
            topologyKey: kubernetes.io/hostname