apiVersion: platform.confluent.io/v1beta1
kind: SchemaRegistry
metadata:
  name: schemaregistry
  namespace: confluent
spec:
  replicas: {{ .Values.schemaRegistry.replicas }}
  image:
    application: confluentinc/cp-schema-registry:{{ .Values.schemaRegistry.confluentVersion | default .Values.defaults.confluent.platformVersion }}
    init: confluentinc/confluent-init-container:{{ .Values.schemaRegistry.cfkVersion | default .Values.defaults.confluent.cfkVersion }}
  {{ with .Values.schemaRegistry.configOverrides }}
  configOverrides:
    {{- with .log4j }}
    log4j:
      {{- range $key, $value := . }}
      - {{ $key }}={{ $value }}
      {{- end }}
    {{- end }}
    {{- with .jvm }}
    jvm:
      {{- range $key, $value := . }}
      - "{{ $key }}={{ $value }}"
      {{- end }}
    {{- end }}
    {{- with .server }}
    server:
      {{- range $key, $value := . }}
      - {{ $key }}={{ $value }}
      {{- end }}
    {{- end }}
    {{- end }}
  tls:
    secretRef: tls-group
  authorization:
    type: rbac
  dependencies:
    kafka:
      bootstrapEndpoint: kafka.confluent.svc.cluster.local:9071
      authentication:
        type: plain
        jaasConfig:
          secretRef: credential
      tls:
        enabled: true
    mds:
      endpoint: https://kafka.confluent.svc.cluster.local:8090
      tokenKeyPair:
        secretRef: mds-token
      authentication:
        type: bearer
        bearer:
          secretRef: mds-client
      tls:
        enabled: true
  externalAccess:
    type: loadBalancer
    loadBalancer:
      annotations:
        {{- if .Values.schemaRegistry.loadbalancer.internal }}
        service.beta.kubernetes.io/aws-load-balancer-scheme: internal
        service.beta.kubernetes.io/aws-load-balancer-subnets: {{ .Values.subnets.private }} 
        service.beta.kubernetes.io/aws-load-balancer-internal: "true"            
        {{- else }}
        service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
        service.beta.kubernetes.io/aws-load-balancer-subnets: {{ .Values.subnets.public }}             
        {{- end }}
        service.beta.kubernetes.io/aws-load-balancer-target-node-labels: service=kafka-arm
        service.beta.kubernetes.io/aws-load-balancer-name: {{ .Values.schemaRegistry.loadbalancer.name }}
      domain: {{ .Values.domain }}
      prefix: {{ .Values.schemaRegistry.dns.prefix }}
  podTemplate:
    resources:
      requests:
        memory: "1Gi"
        cpu: "0.5m"
      limits:
        memory: "4Gi"
    podSecurityContext:
      fsGroup: 1000
      runAsGroup: 1000
      runAsUser: 1000
    annotations:
      ad.datadoghq.com/schemaregistry.check_names: '["confluent_platform"]'
      ad.datadoghq.com/schemaregistry.init_configs: '[{"is_jmx": true, "collect_default_metrics": true, "service_check_prefix": "confluent", "new_gc_metrics": true, "collect_default_jvm_metrics": true}]'
      ad.datadoghq.com/schemaregistry.instances: '[{"host": "%%host%%","port":"7203", "max_returned_metrics":1800}]'
      ad.datadoghq.com/schemaregistry.logs: '[{"source":"confluent_platform","service":"confluent_platform"}]'
      co.elastic.logs/enabled: "true"
      co.elastic.logs/multiline.type: 'pattern'
      co.elastic.logs/multiline.pattern: '^\[+^[[:space:]]'
      co.elastic.logs/multiline.negate: 'true'
      co.elastic.logs/multiline.match: 'before'
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: service
                  operator: In
                  values:
                    - kafka-arm
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                  {{- range .Values.schemaRegistry.podAntiAffinity }}
                  - {{ . }}
                  {{- end }}
            topologyKey: kubernetes.io/hostname