{{ if .Values.schemaRegistry.internalService.enabled }}

apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-scheme: internal
    service.beta.kubernetes.io/aws-load-balancer-internal: "true"
    service.beta.kubernetes.io/aws-load-balancer-subnets: {{ .Values.subnets.private }} 
    external-dns.alpha.kubernetes.io/hostname: schemaonprem.{{ .Values.domain}} 
    service.beta.kubernetes.io/aws-load-balancer-name: {{ .Values.schemaRegistry.internalService.loadbalancer.name }} 
    external-dns.alpha.kubernetes.io/ttl: "300"
  name: schemaonprem
  namespace: confluent
spec:
  externalTrafficPolicy: Cluster
  ports:
  - name: external
    port: 443
    protocol: TCP
    targetPort: 8081
  selector:
    app: schemaregistry
    clusterId: confluent
    confluent-platform: "true"
    type: schemaregistry
  sessionAffinity: None
  type: LoadBalancer

{{- end }}