{{- if .Values.certManager.enabled }}
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    email: streaming.ms@scania.com
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-private-key
    
    solvers:
    - dns01:
        route53:
          region: eu-north-1
          hostedZoneID: {{ .Values.clusterIssuer.hostedZoneID }}
{{- end }}