apiVersion: platform.confluent.io/v1beta1
kind: KafkaRestProxy
metadata:
  name: kafkarestproxy
  namespace: confluent
spec:
  tls:
    secretRef: tls-group
  authorization:
    type: rbac
  configOverrides:
    server:
      - authentication.method=BASIC
      - authentication.realm=KafkaRest
      - authentication.roles=Administrators
      - confluent.rest.auth.propagate.method=JETTY_AUTH
    jvm:
      - "-Djava.security.auth.login.config=/tmp/restproxy/client.jaas"
  dependencies:
    kafka:
      bootstrapEndpoint:  kafka.confluent.svc.cluster.local:9071
      authentication:
        type: plain
        jaasConfig:
          secretRef: credential
      tls:
        enabled: true
    mds:
      endpoint: https://kafka.confluent.svc.cluster.local:8090
      tokenKeyPair:
        secretRef: mds-token
      authentication:
        type: bearer
        bearer:
          secretRef: mds-client 
      tls:
        enabled: true
    schemaRegistry:
      url: https://schemaregistry.confluent.svc.cluster.local:8081
      tls:
        enabled: true
      authentication:
        type: basic
        basic:
          secretRef: c3-access
  image:
    application: confluentinc/cp-kafka-rest:7.1.1
    init: confluentinc/confluent-init-container:2.3.0
  replicas: 1
  mountedVolumes:
    volumes:
      - name: restproxy-basic-client-jaas
        secret:
          secretName: restproxy-basic-client-jaas
          items:
            - key: client.jaas
              path: client.jaas
      - name: restproxy-basic-users
        secret:
          secretName: restproxy-basic-users
          items:
            - key: basic.txt
              path: basic.txt
    volumeMounts:
      - name: restproxy-basic-client-jaas
        mountPath: /tmp/restproxy
      - name: restproxy-basic-users
        mountPath: /tmp/restproxy/users
  externalAccess:
    type: loadBalancer
    loadBalancer:
       annotations:
         service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
         service.beta.kubernetes.io/aws-load-balancer-subnets: subnet-05f7a5ed2f3bffe1f, subnet-01134504e0e2585cb, subnet-0b0d0d44264a719c2
         external-dns.alpha.kubernetes.io/hostname: restproxyaws.iris-streaming-sb.devtest.aws.scania.com
         external-dns.alpha.kubernetes.io/ttl: "300"                     
         service.beta.kubernetes.io/aws-load-balancer-target-node-labels: service=srrp
         service.beta.kubernetes.io/aws-load-balancer-name: iris-streaming-sb-restproxyaws
       domain: iris-streaming-sb.devtest.aws.scania.com
       prefix: restproxyaws
  podTemplate:
    podSecurityContext:
      fsGroup: 1000
      runAsGroup: 1000
      runAsUser: 1000
    annotations:
      ad.datadoghq.com/kafkarestproxy.check_names: '["confluent_platform"]'
      ad.datadoghq.com/kafkarestproxy.init_configs: '[{"is_jmx": true, "collect_default_metrics": true, "service_check_prefix": "confluent", "new_gc_metrics": true, "collect_default_jvm_metrics": true}]'
      ad.datadoghq.com/kafkarestproxy.instances: '[{"host": "%%host%%","port":"7203"}]'
      ad.datadoghq.com/kafkarestproxy.logs: '[{"source":"confluent_platform","service":"confluent_platform"}]'
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: service
                  operator: In
                  values:
                    - srrp
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - kafka
                    - zookeeper
            topologyKey: kubernetes.io/hostname