apiVersion: platform.confluent.io/v1beta1
kind: Connect
metadata:
  name: connect-me
  namespace: confluent
spec:
  replicas: 3
  oneReplicaPerNode: true
  image:
    #custom image containing the IBM MQ client library and IBM MQ Sink connector
    application: 572663323550.dkr.ecr.eu-north-1.amazonaws.com/confluent:latest
    init: confluentinc/confluent-init-container:2.3.0
  build:
    type: onDemand
    onDemand:
      plugins:
        locationType: confluentHub                          #if the k8s have internet connection i.e to confluenthub
        confluentHub:
          - name: kafka-connect-datagen
            owner: confluentinc
            version: 0.5.3
          - name: debezium-connector-mysql
            owner: debezium
            version: 1.8.1
          - name: kafka-connect-hdfs3
            owner: confluentinc
            version: 1.1.10
          - name: kafka-connect-jdbc
            owner: confluentinc
            version: 10.3.3
          - name: kafka-connect-oracle-cdc
            owner: confluentinc
            version: 2.1.0

  tls:
    secretRef: tls-group
  authorization:
    type: rbac
  dependencies:
    kafka:
      bootstrapEndpoint: kafka.confluent.svc.cluster.local:9094
      tls:
        enabled: true
      authentication:
        type: mtls
    mds:
      endpoint: https://kafka.confluent.svc.cluster.local:8090
      tokenKeyPair:
        secretRef: mds-token
      authentication:
        type: bearer
        bearer:
          secretRef: mds-client
      tls:
        enabled: true
    schemaRegistry:
      url: https://schemaregistry.confluent.svc.cluster.local:8081
      tls:
        enabled: true
      authentication:
        type: basic
        basic:
          secretRef: c3-access
  configOverrides:
    server:
      - key.converter=org.apache.kafka.connect.storage.StringConverter
      - value.converter=io.confluent.connect.avro.AvroConverter
  enableSchemas: true
  externalAccess:
    type: loadBalancer
    loadBalancer:
      annotations:
        service.beta.kubernetes.io/aws-load-balancer-scheme: internal
        service.beta.kubernetes.io/aws-load-balancer-internal: "true"
        service.beta.kubernetes.io/aws-load-balancer-subnets: subnet-005c0a53190a785d7, subnet-000ec77e207799a57, subnet-0700aa03c92c90b8a
        external-dns.alpha.kubernetes.io/ttl: "300"
        external-dns.alpha.kubernetes.io/hostname: meconnect.iris-streaming-sb.devtest.aws.scania.com
        service.beta.kubernetes.io/aws-load-balancer-name: iris-streaming-sb-meconnect
        service.beta.kubernetes.io/aws-load-balancer-target-node-labels: service=meconnect
      domain: iris-streaming-sb.devtest.aws.scania.com
      prefix: meconnect
  podTemplate:
    podSecurityContext:
      fsGroup: 1000
      runAsGroup: 1000
      runAsUser: 1000
    annotations:
      ad.datadoghq.com/connect-me.check_names: '["confluent_platform"]'
      ad.datadoghq.com/connect-me.init_configs: '[{"is_jmx": true, "collect_default_metrics": true, "service_check_prefix": "confluent", "new_gc_metrics": true, "collect_default_jvm_metrics": true}]'
      ad.datadoghq.com/connect-me.instances: '[{"host": "%%host%%","port":"7203"}]'
      ad.datadoghq.com/connect-me.logs: '[{"source":"confluent_platform","service":"confluent_platform"}]'  
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: service
                  operator: In
                  values:
                    - meconnect
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - kafka
                    - zookeeper
            topologyKey: kubernetes.io/hostname