apiVersion: platform.confluent.io/v1beta1
kind: Connect
metadata:
  name: connect-me
  namespace: confluent
spec:
  replicas: 1
  oneReplicaPerNode: true
  image:
    application: confluentinc/cp-server-connect:7.1.1
    init: confluentinc/confluent-init-container:2.3.0
  build:
    type: onDemand
    onDemand:
      plugins:
        locationType: confluentHub                          #if the k8s have internet connection i.e to confluenthub
        confluentHub:
          - name: kafka-connect-datagen
            owner: confluentinc
            version: 0.5.3
          - name: debezium-connector-mysql
            owner: debezium
            version: 1.8.1
          - name: kafka-connect-hdfs3
            owner: confluentinc
            version: 1.1.10
  tls:
    secretRef: tls-group
  authorization:
    type: rbac
  dependencies:
    kafka:
      bootstrapEndpoint: kafka.confluent.svc.cluster.local:9094
      tls:
        enabled: true
      authentication:
        type: mtls
    mds:
      endpoint: https://kafka.confluent.svc.cluster.local:8090
      tokenKeyPair:
        secretRef: mds-token
      authentication:
        type: bearer
        bearer:
          secretRef: mds-client
      tls:
        enabled: true
    schemaRegistry:
      url: https://schemaregistry.confluent.svc.cluster.local:8081
      tls:
        enabled: true
      authentication:
        type: basic
        basic:
          secretRef: c3-access
  configOverrides:
    server:
      - key.converter=org.apache.kafka.connect.storage.StringConverter
      - value.converter=io.confluent.connect.avro.AvroConverter
  enableSchemas: true
  externalAccess:
    type: loadBalancer
    loadBalancer:
      annotations:
        kubernetes.io/ingress.class: alb
        alb.ingress.kubernetes.io/scheme: internet-facing
        alb.ingress.kubernetes.io/load-balancer-name: iris-streaming-sb-connect-alb
        alb.ingress.kubernetes.io/target-type: instance
        alb.ingress.kubernetes.io/subnets: subnet-05f7a5ed2f3bffe1f, subnet-01134504e0e2585cb, subnet-0b0d0d44264a719c2
        alb.ingress.kubernetes.io/inbound-cidrs: 13.48.228.240/32, 13.51.76.45/32, 13.51.129.156/32
        external-dns.alpha.kubernetes.io/hostname: connect.iris-streaming-sb.devtest.aws.scania.com
      domain: iris-streaming-sb.devtest.aws.scania.com
      prefix: meconnect-sbox
  podTemplate:
    podSecurityContext:
      fsGroup: 1000
      runAsGroup: 1000
      runAsUser: 1000
    annotations:
      ad.datadoghq.com/connect-me.check_names: '["confluent_platform"]'
      ad.datadoghq.com/connect-me.init_configs: '[{"is_jmx": true, "collect_default_metrics": true}]'
      ad.datadoghq.com/connect-me.instances: '[{"host": "%%host%%","port":"7203"}]'
      ad.datadoghq.com/connect-me.logs: '[{"source":"confluent_platform","service":"confluent_platform"}]'  
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: service
                  operator: In
                  values:
                    - sapconnect
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - kafka
                    - zookeeper
            topologyKey: kubernetes.io/hostname
