apiVersion: platform.confluent.io/v1beta1
kind: ControlCenter
metadata:
  name: controlcenter
  namespace: confluent
spec:
  license:
    secretRef: confluent-license
  replicas: 1
  image:
    application: confluentinc/cp-enterprise-control-center:7.1.1
    init: confluentinc/confluent-init-container:2.3.0
  dataVolumeCapacity: 30Gi
  configOverrides:
    server:
  authorization:
    type: rbac
  tls:
    secretRef: tls-group
  dependencies:
    kafka:
      bootstrapEndpoint: kafka.confluent.svc.cluster.local:9071
      authentication:
        type: plain
        jaasConfig:
          secretRef: credential
      tls:
        enabled: true
    mds:
      endpoint: https://kafka.confluent.svc.cluster.local:8090
      tokenKeyPair:
        secretRef: mds-token
      authentication:
        type: bearer
        bearer:
          secretRef: mds-client
      tls:
        enabled: true
    schemaRegistry:
      url: https://schemaregistry.confluent.svc.cluster.local:8081
      tls:
        enabled: true
      authentication:
        type: basic
        basic:
          secretRef: c3-access
    connect:
    - name: connect-aws
      url: https://connect-aws.confluent.svc.cluster.local:8083
      tls:
        enabled: true
      authentication:
        type: mtls
    - name: connect-me
      url: https://connect-me.confluent.svc.cluster.local:8083
      tls:
        enabled: true
      authentication:
        type: mtls
    - name: connect-onprem
      url: https://connect-onprem.confluent.svc.cluster.local:8083
      tls:
        enabled: true
      authentication:
        type: mtls
    ksqldb:
    - name: ksqldb
      url: https://ksqldb.confluent.svc.cluster.local:8088
      tls:
        enabled: true
      authentication:
        type: mtls
  externalAccess:
    type: loadBalancer
    loadBalancer:
      annotations:
         service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
         service.beta.kubernetes.io/aws-load-balancer-subnets: subnet-05f7a5ed2f3bffe1f, subnet-01134504e0e2585cb, subnet-0b0d0d44264a719c2
         external-dns.alpha.kubernetes.io/hostname: controlcenter.iris-streaming-sb.devtest.aws.scania.com
         external-dns.alpha.kubernetes.io/ttl: "300"                     
         service.beta.kubernetes.io/aws-load-balancer-target-node-labels: service=cc
         service.beta.kubernetes.io/aws-load-balancer-name: iris-streaming-sb-controlcenter
         service.beta.kubernetes.io/aws-load-balancer-backend-protocol: ssl
         service.beta.kubernetes.io/aws-load-balancer-ssl-cert: arn:aws:acm:eu-north-1:572663323550:certificate/a29562a2-f4a3-4c03-b9b5-f77960e0580a
      domain: iris-streaming-sb.devtest.aws.scania.com
      prefix: controlcenter
  storageClass:
    name: standard
     
  oneReplicaPerNode: true
  podTemplate:
    podSecurityContext:
      fsGroup: 1000
      runAsGroup: 1000
      runAsUser: 1000
    probe:
      liveness:
        periodSeconds: 10
        failureThreshold: 5
        timeoutSeconds: 500
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: service
                  operator: In
                  values:
                    - cc
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - zookeeper
                    - kafka
            topologyKey: kubernetes.io/hostname
