apiVersion: platform.confluent.io/v1beta1
kind: Kafka
metadata:
  name: kafka
  namespace: confluent
spec:
  license:
    secretRef: confluent-license
  replicas: 6
  image:
    application: confluentinc/cp-server:7.1.1
    init: confluentinc/confluent-init-container:2.3.0
  
  storageClass:
    name: standard
  dataVolumeCapacity: 50Gi
  
  mountedVolumes:
    volumes:
      - name: keytab
        configMap:
          name: keytab-cm
          items:
            - key: kt-key
              path: keytab
      - name: krb
        configMap:
          name: krb-cm
          items:
            - key: krb5.conf
              path: krb5.conf
      - name: digest-jaas
        secret:
          secretName: digest-jaas
          items:
            - key: digest-jaas.conf
              path: digest-jaas.conf
    volumeMounts:
      - name: keytab
        mountPath: /tmp/keytab
        readOnly: true
      - name: krb
        mountPath: /etc/krb5.conf
        subPath: krb5.conf
        readOnly: true
      - name: digest-jaas
        mountPath: /tmp/zookeeper
  tls:
    secretRef: tls-group
  listeners:
    custom:
    - name: oauthaws
      port: 9093
      authentication:
        ## This is only required for using the CFK custom listener section. configOverrides listener.name.client.sasl.enabled.mechanism=OAUTHBEARER will do the trick!
        type: plain
        jaasConfig:
          secretRef: credential
      tls:
        enabled: true
      externalAccess:
        type: loadBalancer
        loadBalancer:
          annotations:
            service.beta.kubernetes.io/aws-load-balancer-type: nlb
            service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
            service.beta.kubernetes.io/aws-load-balancer-name: iris-streaming-sb-oauthaws-nlb
            service.beta.kubernetes.io/aws-load-balancer-subnets: subnet-05f7a5ed2f3bffe1f, subnet-01134504e0e2585cb, subnet-0b0d0d44264a719c2
            service.beta.kubernetes.io/load-balancer-source-ranges: 13.48.228.240/32, 13.51.76.45/32, 13.51.129.156/32
            service.beta.kubernetes.io/aws-load-balancer-target-node-labels: service=kafka
          domain: iris-streaming-sb.devtest.aws.scania.com
          bootstrapPrefix: oauthaws
          brokerPrefix: oauthaws
    - name: oauthonprem
      port: 9095
      authentication:
        ## This is only required for using the CFK custom listener section. configOverrides listener.name.client.sasl.enabled.mechanism=OAUTHBEARER will do the trick!
        type: plain
        jaasConfig:
          secretRef: credential
      tls:
        enabled: true
      externalAccess:
        type: loadBalancer
        loadBalancer:
          annotations:
            service.beta.kubernetes.io/aws-load-balancer-type: nlb
            service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
            service.beta.kubernetes.io/aws-load-balancer-name: iris-streaming-sb-oauthonprem-nlb
            service.beta.kubernetes.io/aws-load-balancer-subnets: subnet-005c0a53190a785d7, subnet-000ec77e207799a57, subnet-0700aa03c92c90b8a
            service.beta.kubernetes.io/load-balancer-source-ranges: 13.48.228.240/32, 13.51.76.45/32, 13.51.129.156/32
            service.beta.kubernetes.io/aws-load-balancer-internal: "true"
            service.beta.kubernetes.io/aws-load-balancer-target-node-labels: service=kafka
          domain: iris-streaming-sb.devtest.aws.scania.com
          bootstrapPrefix: oauthonprem
          brokerPrefix: oauthonprem
    - name: mtlsonprem
      port: 9094
      authentication:
        type: mtls
        principalMappingRules:
          # First rule may need to be altered to capture Scania-issued client certificates
          - RULE:.*Scania.*CN[ ]?=[ ]?([a-zA-Z0-9-_]+).*/$1/
          - RULE:.*CN[ ]?=[ ]?([a-zA-Z0-9-_]+).*\.scania\.com.*/$1/
      tls:
        enabled: true
      externalAccess:
        type: loadBalancer
        loadBalancer:
          annotations:
            service.beta.kubernetes.io/aws-load-balancer-type: nlb
            service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
            service.beta.kubernetes.io/aws-load-balancer-name: iris-streaming-sb-mtlsonprem-nlb
            service.beta.kubernetes.io/aws-load-balancer-subnets: subnet-005c0a53190a785d7, subnet-000ec77e207799a57, subnet-0700aa03c92c90b8a
            service.beta.kubernetes.io/load-balancer-source-ranges: 13.48.228.240/32, 13.51.76.45/32, 13.51.129.156/32
            service.beta.kubernetes.io/aws-load-balancer-internal: "true"
            service.beta.kubernetes.io/aws-load-balancer-target-node-labels: service=kafka
          domain: iris-streaming-sb.devtest.aws.scania.com
          bootstrapPrefix: mtlsonprem
          brokerPrefix: mtlsonprem

    internal:
      authentication:
        type: plain
        jaasConfig:
          secretRef: credential
      tls:
        enabled: true
    external:
      authentication:
        type: mtls
        principalMappingRules:
          # First rule may need to be altered to capture Scania-issued client certificates
          - RULE:.*Scania.*CN[ ]?=[ ]?([a-zA-Z0-9-_]+).*/$1/
          - RULE:.*CN[ ]?=[ ]?([a-zA-Z0-9-_]+).*\.scania\.com.*/$1/
      tls:
        enabled: true
        # Use provided certs in secret `tls-kafka`
      externalAccess:
        type: loadBalancer
        loadBalancer:
          annotations:
            service.beta.kubernetes.io/aws-load-balancer-type: nlb
            service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
            service.beta.kubernetes.io/aws-load-balancer-name: iris-streaming-sb-mtlsaws-nlb
            service.beta.kubernetes.io/aws-load-balancer-subnets: subnet-05f7a5ed2f3bffe1f, subnet-01134504e0e2585cb, subnet-0b0d0d44264a719c2
            service.beta.kubernetes.io/load-balancer-source-ranges: 13.48.228.240/32, 13.51.76.45/32, 13.51.129.156/32
            service.beta.kubernetes.io/aws-load-balancer-target-node-labels: service=kafka
          domain: iris-streaming-sb.devtest.aws.scania.com
          bootstrapPrefix: mtlsaws
          brokerPrefix: mtlsaws
  configOverrides:
    log4j:
      - log4j.logger.io.confluent.security.auth.provider.ldap=TRACE
    server:
      ## Additional properties for ldap not supported by CFK directly
      - ldap.com.sun.jndi.ldap.read.timeout=60000
      - ldap.refresh.interval.ms=60000
      #- ldap.java.naming.security.authentication=GSSAPI
      - ldap.retry.timeout.ms=6600000
      #- ldap.java.naming.security.principal=serviceirisssptest@GLOBAL.SCD.SCANIA.COM
      #- ldap.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required debug=true useKeyTab=true storeKey=true keyTab="/tmp/keytab/keytab" principal="serviceirisssptest@GLOBAL.SCD.SCANIA.COM";
      - listener.name.client.sasl.enabled.mechanisms=OAUTHBEARER
      - listener.name.client.sasl.oauthbearer.jwks.endpoint.url=https://login.microsoftonline.com/3bc062e4-ac9d-4c17-b4dd-3aad637ff1ac/discovery/v2.0/keys
      - listener.name.client.sasl.oauthbearer.expected.audience=account
      - listener.name.client.sasl.oauthbearer.sub.claim.name=appid
      - listener.name.client.oauthbearer.sasl.server.callback.handler.class=org.apache.kafka.common.security.oauthbearer.secured.OAuthBearerValidatorCallbackHandler
      - listener.name.client.oauthbearer.sasl.jaas.config=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required;
      - listener.name.clientonprem.sasl.enabled.mechanisms=OAUTHBEARER
      - listener.name.clientonprem.sasl.oauthbearer.jwks.endpoint.url=https://login.microsoftonline.com/3bc062e4-ac9d-4c17-b4dd-3aad637ff1ac/discovery/v2.0/keys
      - listener.name.clientonprem.sasl.oauthbearer.expected.audience=account
      - listener.name.clientonprem.sasl.oauthbearer.sub.claim.name=appid
      - listener.name.clientonprem.oauthbearer.sasl.server.callback.handler.class=org.apache.kafka.common.security.oauthbearer.secured.OAuthBearerValidatorCallbackHandler
      - listener.name.clientonprem.oauthbearer.sasl.jaas.config=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required;
      - listener.name.oauthaws.sasl.enabled.mechanisms=OAUTHBEARER
      - listener.name.oauthaws.sasl.mechanism=PLAIN
      - listener.name.oauthaws.sasl.oauthbearer.jwks.endpoint.url=https://login.microsoftonline.com/3bc062e4-ac9d-4c17-b4dd-3aad637ff1ac/discovery/v2.0/keys
      - listener.name.oauthaws.sasl.oauthbearer.expected.audience=account
      - listener.name.oauthaws.sasl.oauthbearer.sub.claim.name=appid
      - listener.name.oauthaws.oauthbearer.sasl.server.callback.handler.class=org.apache.kafka.common.security.oauthbearer.secured.OAuthBearerValidatorCallbackHandler
      - listener.name.oauthaws.oauthbearer.sasl.jaas.config=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required;

    jvm:
      - "-Djava.security.krb5.conf=/etc/krb5.conf"
      #- "-Dsun.security.jgss.debug=true"
      #- "-Dsun.security.krb5.debug=true"
      - "-Dcom.sun.jndi.ldap.debug=true"
  authorization:
    type: rbac
    superUsers:
      - User:serviceirisssptest
      - User:kafka
  services:
    mds:
      tls:
        enabled: true
      tokenKeyPair:
        secretRef: mds-token
      provider:
        type: ldap
        ldap:
          ##ADDRESS
          address: ldaps://global.scd.scania.com:636
          authentication:
            type: simple
            simple:
              secretRef: credential
          tls:
            enabled: true
            secretRef: tls-group
          configurations:
            groupNameAttribute: cn
            groupObjectClass: group
            groupSearchFilter: (objectclass=group)
            groupMemberAttribute: member
            groupMemberAttributePattern: CN=([^,]+).*,DC=global,DC=scd,DC=scania,DC=com
            groupSearchBase: OU=Groups,OU=SSP,OU=Enterprise,DC=global,DC=scd,DC=scania,DC=com
            userNameAttribute: sAMAccountName
            userMemberOfAttributePattern: CN=(.*),OU=Groups,OU=SSP,OU=Enterprise,DC=global,DC=scd,DC=scania,DC=com
            userObjectClass: user
            userSearchBase: DC=global,DC=scd,DC=scania,DC=com
            userSearchScope: 2
  dependencies:
    kafkaRest:
      authentication:
        type: bearer
        bearer:
          secretRef: rest-credential
    zookeeper:
      endpoint: zookeeper.confluent.svc.cluster.local:2182
      authentication:
        type: digest
        jaasConfigPassThrough:
          secretRef: digest-jaas
          directoryPathInContainer: /tmp/zookeeper
      tls:
        enabled: true
  metricReporter:
    enabled: true
    bootstrapEndpoint: kafka.confluent.svc.cluster.local:9071
    authentication:
      jaasConfig:
        secretRef: credential
      type: plain
    tls:
      enabled: true
  oneReplicaPerNode: true
  podTemplate:
    podSecurityContext:
      fsGroup: 1000
      runAsGroup: 1000
      runAsUser: 1000
    annotations:
      ad.datadoghq.com/kafka.check_names: '["confluent_platform"]'
      ad.datadoghq.com/kafka.init_configs: '[{"is_jmx": true, "collect_default_metrics": true, "service_check_prefix": "confluent", "new_gc_metrics": true, "collect_default_jvm_metrics": true}]'
      ad.datadoghq.com/kafka.instances: '[{"host": "%%host%%","port":"7203"}]'
      ad.datadoghq.com/kafka.logs: '[{"source":"confluent_platform","service":"confluent_platform"}]'
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: service
                  operator: In
                  values:
                    - kafka
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - zookeeper
                    - srrp
                    - k2
                    - connect
            topologyKey: kubernetes.io/hostname
