apiVersion: platform.confluent.io/v1beta1
kind: Zookeeper
metadata:
  name: zookeeper
  namespace: confluent
spec:
  replicas: 3
  image:
    application: confluentinc/cp-zookeeper:7.1.1
    init: confluentinc/confluent-init-container:2.3.0
  dataVolumeCapacity: 40Gi
  logVolumeCapacity: 30Gi
  authentication:
    type: digest
    jaasConfig:
      secretRef: credential
  tls:
    secretRef: tls-group
  storageClass:
    name: standard
  podTemplate:
    podSecurityContext:
      fsGroup: 1000
      runAsGroup: 1000
      runAsUser: 1000
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: service
                  operator: In
                  values:
                    - zookeeper
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
           - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - kafka
                    - connect
                    - k2
                    - srrp
             topologyKey: kubernetes.io/hostname
