apiVersion: platform.confluent.io/v1beta1
kind: Kafka
metadata:
  name: kafka
  namespace: confluent
spec:
  license:
    secretRef: confluent-license
  replicas: 3
  image:
    application: confluentinc/cp-server:7.1.1
#    application: 858242954753.dkr.ecr.eu-north-1.amazonaws.com/iris-streaming-confluent:latest
    init: confluentinc/confluent-init-container:2.3.0
  storageClass:
    name: standard
  dataVolumeCapacity: 50Gi
  configOverrides:
    server:
  tls:
    secretRef: tls-group
  listeners:
    custom:

    - name: internaleks
      port: 9094
      authentication:
        type: mtls
        principalMappingRules:
          - RULE:.*CN[\s]?=[\s]?([a-zA-Z0-9]*)?.*/$1/
      tls:
        enabled: true
    internal:
      authentication:
        type: plain
        jaasConfig:
          secretRef: credential
      tls:
        enabled: true

    external:
      authentication:
        type: mtls
        principalMappingRules:
          - RULE:.*CN[\s]?=[\s]?([a-zA-Z0-9]*)?.*/$1/
      tls:
        enabled: true
        # Use provided certs in secret `tls-kafka`
      externalAccess:
        type: loadBalancer
#        nodePort:
#          host: kafka.iris-streaming-sb.devtest.aws.scania.com
#          nodePortOffset: 30000
        loadBalancer:
          annotations:
            service.beta.kubernetes.io/aws-load-balancer-type: nlb
            service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
            service.beta.kubernetes.io/aws-load-balancer-name: iris-streaming-sb-kafka-nlb
            service.beta.kubernetes.io/aws-load-balancer-subnets: subnet-05f7a5ed2f3bffe1f, subnet-01134504e0e2585cb, subnet-0b0d0d44264a719c2
            service.beta.kubernetes.io/load-balancer-source-ranges: 13.48.228.240/32, 13.51.76.45/32, 13.51.129.156/32
            #            service.beta.kubernetes.io/aws-load-balancer-scheme: internal
            service.beta.kubernetes.io/aws-load-balancer-target-node-labels: service=kafka
          domain: iris-streaming-sb.devtest.aws.scania.com
          #bootstrapPrefix: kafka-ext
          bootstrapPrefix: kafka-ext-sbox
          #brokerPrefix: s-ext
          brokerPrefix: s-ext-sbox
  authorization:
    type: rbac
    superUsers:
      - User:kafka
  dependencies:
    kafkaRest:
      authentication:
        type: bearer
        bearer:
          secretRef: rest-credential
    mds:
    #  endpoint: https://mds.iris-streaming-sb.devtest.aws.scania.com:443   #actual one
      endpoint: https://mds-cc-sbox.iris-streaming-sb.devtest.aws.scania.com:443  #until we map it in route53
      tls:
        enabled: true
      kafka:
    #    bootstrapEndpoint: s0.iris-streaming-sb.devtest.aws.scania.com:9092,s1.iris-streaming-sb.devtest.aws.scania.com:9092,s2.iris-streaming-sb.devtest.aws.scania.com:9092
        bootstrapEndpoint: s-cc-sbox0.iris-streaming-sb.devtest.aws.scania.com:9092,s-cc-sbox1.iris-streaming-sb.devtest.aws.scania.com:9092,s-cc-sbox2.iris-streaming-sb.devtest.aws.scania.com:9092
        authentication:
          jaasConfig:
            secretRef: mds-client-plain
          type: plain
        tls:
          enabled: true
      tokenKeyPair:
        secretRef: mds-token
    zookeeper:
      endpoint: zookeeper.confluent.svc.cluster.local:2182
      authentication:
        type: digest
        jaasConfig:
          secretRef: credential
      tls:
        enabled: true
  metricReporter:
    enabled: true
  #  bootstrapEndpoint: s0.iris-streaming-sb.devtest.aws.scania.com:9092,s1.iris-streaming-sb.devtest.aws.scania.com:9092,s2.iris-streaming-sb.devtest.aws.scania.com:9092
    bootstrapEndpoint: s-cc-sbox0.iris-streaming-sb.devtest.aws.scania.com:9092,s-cc-sbox1.iris-streaming-sb.devtest.aws.scania.com:9092,s-cc-sbox2.iris-streaming-sb.devtest.aws.scania.com:9092
    authentication:
      jaasConfig:
        secretRef: mds-client-plain
      type: plain
    tls:
      enabled: true
  oneReplicaPerNode: true
  podTemplate:
    podSecurityContext:
      fsGroup: 1000
      runAsGroup: 1000
      runAsUser: 1000
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: service
                  operator: In
                  values:
                    - kafka
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - kafka
                    - zookeeper
                    - kafkarestproxy
                    - schemaregistry
                    - ksqldb
                    - connect
                    - controlcenter
                    - confluent-operator
            topologyKey: kubernetes.io/hostname
