apiVersion: platform.confluent.io/v1beta1
kind: Kafka
metadata:
  name: kafka
  namespace: confluent
spec:
  replicas: 3
  image:
#    application: confluentinc/cp-server:7.0.1
    application: 858242954753.dkr.ecr.eu-north-1.amazonaws.com/iris-streaming-confluent:latest
    init: confluentinc/confluent-init-container:2.2.0-1
  storageClass:
    name: standard
  dataVolumeCapacity: 50Gi
  configOverrides:
    server:
      - confluent.cluster.link.enable=true
      - confluent.metrics.reporter.bootstrap.servers=cc.iris-streaming-sb.devtest.aws.scania.com:9092
      - listener.security.protocol.map=EXTERNAL:SSL,INTERNAL:SASL_SSL,INTERNALEKS:SSL,REPLICATION:SASL_PLAINTEXT,TOKEN:SASL_SSL,OAUTH:SASL_PLAINTEXT
      - listeners=EXTERNAL://:9092,INTERNAL://:9071,INTERNALEKS://:9094,REPLICATION://:9072,TOKEN://:9073,OAUTH://:9093
      - advertised.listeners=EXTERNAL://s0.iris-streaming-sb.devtest.aws.scania.com:9092,INTERNAL://kafka-0.kafka.confluent.svc.cluster.local:9071,INTERNALEKS://kafka-0.kafka.confluent.svc.cluster.local:9094,REPLICATION://kafka-0.kafka.confluent.svc.cluster.local:9072,TOKEN://kafka-0.kafka.confluent.svc.cluster.local:9073,OAUTH://s0.iris-streaming-sb.devtest.aws.scania.com:9093
      - listener.name.oauth.oauthbearer.sasl.server.callback.handler.class=io.strimzi.kafka.oauth.server.JaasServerOauthValidatorCallbackHandler
      - listener.name.oauth.ssl.key.password=${file:/mnt/sslcerts/jksPassword.txt:jksPassword}
      - listener.name.oauth.ssl.keystore.location=/mnt/sslcerts/keystore.p12
      - listener.name.oauth.ssl.keystore.password=${file:/mnt/sslcerts/jksPassword.txt:jksPassword}
      - listener.name.oauth.ssl.truststore.location=/mnt/sslcerts/truststore.p12
      - listener.name.oauth.ssl.truststore.password=${file:/mnt/sslcerts/jksPassword.txt:jksPassword}
      - listener.name.oauth.sasl.enabled.mechanisms=OAUTHBEARER
      - listener.name.oauth.oauthbearer.sasl.jaas.config=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required oauth.valid.issuer.uri="https://fg.ciam.preprod.aws.scania.com/auth/realms/scania" oauth.jwks.endpoint.uri="https://fg.ciam.preprod.aws.scania.com/auth/realms/scania/protocol/openid-connect/certs" unsecuredLoginStringClaim_sub="unused" oauth.username.claim="preferred_username" ;
      - listener.name.oauth.sasl.mechanism=PLAIN
      - principal.builder.class=io.strimzi.kafka.oauth.server.OAuthKafkaPrincipalBuilder
  tls:
    secretRef: tls-group2
  listeners:
    custom:
    - name: internaleks
      port: 9094
      authentication:
        type: mtls
        principalMappingRules:
          - RULE:.*CN[\s]?=[\s]?([a-zA-Z0-9]*)?.*/$1/
      tls:
        enabled: true
    internal:
      authentication: 
        type: plain
        jaasConfig:
          secretRef: credential1
      tls:
        enabled: true
    external:
      authentication:
        type: mtls
        principalMappingRules:
          - RULE:.*CN[\s]?=[\s]?([a-zA-Z0-9]*)?.*/$1/
      tls:
        enabled: true
        # Use provided certs in secret `tls-kafka`
      externalAccess:
        type: loadBalancer
#        nodePort:
#          host: kafka.iris-streaming-sb.devtest.aws.scania.com
#          nodePortOffset: 30000
        loadBalancer:
          annotations:
            service.beta.kubernetes.io/aws-load-balancer-type: nlb
            service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
            service.beta.kubernetes.io/aws-load-balancer-name: iris-streaming-sb-kafka-nlb
            service.beta.kubernetes.io/aws-load-balancer-subnets: subnet-03bb1df2bc15436b6, subnet-061b406bbac050fcb, subnet-0a71781428bea6c6e
            service.beta.kubernetes.io/load-balancer-source-ranges: 13.51.132.182/32, 13.51.115.193/32, 13.51.138.3/32
            #            service.beta.kubernetes.io/aws-load-balancer-scheme: internal
            service.beta.kubernetes.io/aws-load-balancer-target-node-labels: service=kafka0
          domain: iris-streaming-sb.devtest.aws.scania.com
          bootstrapPrefix: kafka
          brokerPrefix: s
  authorization:
    type: rbac
    superUsers:
      - User:kafka
  services:
    mds:
      tls:
        enabled: true
      tokenKeyPair:
        secretRef: mds-token
      externalAccess:
        type: loadBalancer
        loadBalancer:
          domain: iris-streaming-sb.devtest.aws.scania.com
          prefix: rb-mds
      provider:
        type: ldap
        ldap:
          address: ldap://ldap.confluent.svc.cluster.local:389
          authentication:
            type: simple
            simple:
              secretRef: credential1
          configurations:
            groupNameAttribute: cn
            groupObjectClass: group
            groupMemberAttribute: member
            groupMemberAttributePattern: CN=(.*),DC=test,DC=com
            groupSearchBase: dc=test,dc=com
            userNameAttribute: cn
            userMemberOfAttributePattern: CN=(.*),DC=test,DC=com
            userObjectClass: organizationalRole
            userSearchBase: dc=test,dc=com
  dependencies:
    kafkaRest:
      authentication:
        type: bearer
        bearer:
          secretRef: mds-client
    zookeeper:
      endpoint: zookeeper.confluent.svc.cluster.local:2182
      authentication:
        type: digest
        jaasConfig:
          secretRef: credential1
      tls:
        enabled: true
  metricReporter:
    enabled: false      
  oneReplicaPerNode: true
  podTemplate:
    podSecurityContext:
      fsGroup: 1000
      runAsGroup: 1000
      runAsUser: 1000
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: service
                  operator: In
                  values:
                    - kafka0
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: service
                  operator: In
                  values:
                    - zookeeper
                    - srrp
                    - k2
                    - connect
            topologyKey: kubernetes.io/hostname
