apiVersion: platform.confluent.io/v1beta1
kind: Zookeeper
metadata:
  name: zookeeper
  namespace: confluent
spec:
  replicas: 3
  image:
    application: confluentinc/cp-zookeeper:7.0.1
    init: confluentinc/confluent-init-container:2.2.0-1
  dataVolumeCapacity: 40Gi
  logVolumeCapacity: 30Gi
  authentication:
    type: digest
    jaasConfig:
      secretRef: credential
  tls:
    secretRef: tls-group
#  oneReplicaPerNode: true
  storageClass:
    name: standard

  podTemplate:
    podSecurityContext:
      fsGroup: 1000
      runAsGroup: 1000
      runAsUser: 1000
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: service
                  operator: In
                  values:
                    - zookeeper
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
           - labelSelector:
              matchExpressions:
                - key: service
                  operator: In
                  values:
                    - kafka
             topologyKey: kubernetes.io/hostname
