apiVersion: platform.confluent.io/v1beta1
kind: KsqlDB
metadata:
  name: ksqldb
  namespace: confluent
spec:
  replicas: 1
  image:
    application: confluentinc/cp-ksqldb-server:7.0.1
    init: confluentinc/confluent-init-container:2.2.0-1
  dataVolumeCapacity: 20Gi
  configOverrides:
    server:
      - ksql.schema.registry.url=http://schemaregistry:8081
  authorization:
    type: rbac
  tls:
    secretRef: tls-ksqldb
    dependencies:
      kafka:
        bootstrapEndpoint: kafka.confluent.svc.cluster.local:9071
        authentication:
          type: plain
          jaasConfig:
            secretRef: credential
        tls:
          enabled: true
      mds:
        endpoint: https://kafka.confluent.svc.cluster.local:8090
        tokenKeyPair:
          secretRef: mds-token
        authentication:
          type: bearer
          bearer:
            secretRef: ksqldb-mds-client
        tls:
          enabled: true
  externalAccess:
#    type: nodePort
#    nodePort:
#      host: ksqldb.iris-streaming-sb.devtest.aws.scania.com
#      nodePortOffset: 30100
    type: loadBalancer
    loadBalancer:
      annotations:
        kubernetes.io/ingress.class: alb
        alb.ingress.kubernetes.io/scheme: internet-facing
        alb.ingress.kubernetes.io/load-balancer-name: iris-streaming-sb-ksqldb-alb
        alb.ingress.kubernetes.io/target-type: instance
        alb.ingress.kubernetes.io/subnets: subnet-03bb1df2bc15436b6, subnet-061b406bbac050fcb, subnet-0a71781428bea6c6e
        alb.ingress.kubernetes.io/inbound-cidrs: 13.51.132.182/32, 13.51.115.193/32, 13.51.138.3/32
        external-dns.alpha.kubernetes.io/hostname: ksqldb.iris-streaming-sb.devtest.aws.scania.com
      domain: iris-streaming-sb.devtest.aws.scania.com
      prefix: ksqldb
  storageClass:
    name: standard
  podTemplate:
    podSecurityContext:
      fsGroup: 1000
      runAsGroup: 1000
      runAsUser: 1000
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: service
                  operator: In
                  values:
                    - k2
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: service
                  operator: In
                  values:
                    - kafka0
            topologyKey: kubernetes.io/hostname