apiVersion: platform.confluent.io/v1beta1
kind: Kafka
metadata:
  name: kafka
  namespace: confluent
spec:
  license:
    secretRef: confluent-license
  replicas: 3
  image:
    application: confluentinc/cp-server:7.0.1
#    application: 858242954753.dkr.ecr.eu-north-1.amazonaws.com/iris-streaming-confluent:latest
    init: confluentinc/confluent-init-container:2.2.0-1
  storageClass:
    name: standard
  dataVolumeCapacity: 50Gi
  configOverrides:
    server:
  tls:
    secretRef: tls-group2
  listeners:
    custom:
    - name: internaleks
      port: 9094
      authentication:
        type: mtls
        principalMappingRules:
          - RULE:.*CN[\s]?=[\s]?([a-zA-Z0-9]*)?.*/$1/
      tls:
        enabled: true
    internal:
      authentication: 
        type: plain
        jaasConfig:
          secretRef: credential1
      tls:
        enabled: true
    external:
      authentication:
        type: mtls
        principalMappingRules:
          - RULE:.*CN[\s]?=[\s]?([a-zA-Z0-9]*)?.*/$1/
      tls:
        enabled: true
        # Use provided certs in secret `tls-kafka`
      externalAccess:
        type: loadBalancer
#        nodePort:
#          host: kafka.iris-streaming-sb.devtest.aws.scania.com
#          nodePortOffset: 30000
        loadBalancer:
          annotations:
            service.beta.kubernetes.io/aws-load-balancer-type: nlb
            service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
            service.beta.kubernetes.io/aws-load-balancer-name: iris-streaming-sb-kafka-nlb
            service.beta.kubernetes.io/aws-load-balancer-subnets: subnet-03bb1df2bc15436b6, subnet-061b406bbac050fcb, subnet-0a71781428bea6c6e
            service.beta.kubernetes.io/load-balancer-source-ranges: 13.51.132.182/32, 13.51.115.193/32, 13.51.138.3/32
            #            service.beta.kubernetes.io/aws-load-balancer-scheme: internal
            service.beta.kubernetes.io/aws-load-balancer-target-node-labels: service=kafka0
          domain: iris-streaming-sb.devtest.aws.scania.com
          bootstrapPrefix: kafka
          brokerPrefix: s
  authorization:
    type: rbac
    superUsers:
      - User:kafka
  dependencies:
    kafkaRest:
      authentication:
        type: bearer
        bearer:
          secretRef: rest-credential
    mds:
      endpoint: https://mds.iris-streaming-sb.devtest.aws.scania.com:443
      tls:
        secretRef: tls-group2
        enabled: true
      kafka:
        bootstrapEndpoint: s0.iris-streaming-sb.devtest.aws.scania.com:9092,s1.iris-streaming-sb.devtest.aws.scania.com:9092,s2.iris-streaming-sb.devtest.aws.scania.com:9092
        authentication:
          jaasConfig:
            secretRef: mds-client-plain
          type: plain
        tls:
          secretRef: tls-group2
          enabled: true
      tokenKeyPair:
        secretRef: mds-token
    zookeeper:
      endpoint: zookeeper.confluent.svc.cluster.local:2182
      authentication:
        type: digest
        jaasConfig:
          secretRef: credential1
      tls:
        enabled: true
  metricReporter:
    enabled: true
    bootstrapEndpoint: s0.iris-streaming-sb.devtest.aws.scania.com:9092,s1.iris-streaming-sb.devtest.aws.scania.com:9092,s2.iris-streaming-sb.devtest.aws.scania.com:9092
    authentication:
      jaasConfig:
        secretRef: mds-client-plain
      type: plain
    tls:
      secretRef: tls-group2
      enabled: true      
  oneReplicaPerNode: true
  podTemplate:
    podSecurityContext:
      fsGroup: 1000
      runAsGroup: 1000
      runAsUser: 1000
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: service
                  operator: In
                  values:
                    - kafka0
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: service
                  operator: In
                  values:
                    - zookeeper
                    - srrp
                    - k2
                    - connect
            topologyKey: kubernetes.io/hostname
