apiVersion: platform.confluent.io/v1beta1
kind: ControlCenter
metadata:
  name: controlcenter
  namespace: confluent
spec:
  license:
    secretRef: confluent-license
  replicas: 1
  image:
    application: confluentinc/cp-enterprise-control-center:7.1.1
    init: confluentinc/confluent-init-container:2.3.0
  dataVolumeCapacity: {{.Values.controlCenter.dataVolumeCapacity}}
  {{ with .Values.controlCenter.configOverrides}}
  configOverrides:
    {{- with .server }}
    server:
      {{- range $key, $value := . }}
      - "{{ $key }}={{ $value }}"
      {{- end }}
    {{- end }}
    {{- with .log4j }}
    log4j:
      {{- range $key, $value := . }}
      - {{ $key }}={{ $value }}
      {{- end }}
    {{- end }}
  {{- end }}
  authorization:
    type: rbac
  tls:
    secretRef: tls-group
  dependencies:
    kafka:
      bootstrapEndpoint: kafka.confluent.svc.cluster.local:9071
      authentication:
        type: plain
        jaasConfig:
          secretRef: credential
      tls:
        enabled: true
    mds:
      endpoint: https://kafka.confluent.svc.cluster.local:8090
      tokenKeyPair:
        secretRef: mds-token
      authentication:
        type: bearer
        bearer:
          secretRef: mds-client
      tls:
        enabled: true
    schemaRegistry:
      url: https://schemaregistry.confluent.svc.cluster.local:8081
      tls:
        enabled: true
      authentication:
        type: basic
        basic:
          secretRef: c3-access
    connect:
    {{- range $name, $value := .Values.connect.instances }}
    - name: {{ $name }}
      url: https://{{ $name}}.confluent.svc.cluster.local:8083
      tls:
        enabled: true
      authentication:
        type: mtls
    {{- end }}
    {{ if .Values.ksql.enabled }}
    ksqldb:
    - name: ksqldb
      advertisedUrl: https://{{ .Values.ksql.dns.prefix }}.{{ .Values.domain }}
      url: https://ksqldb.confluent.svc.cluster.local:8088
      tls:
        enabled: true
      authentication:
        type: mtls
    {{- end }}
  externalAccess:
    type: loadBalancer
    loadBalancer:
      annotations:
        {{- if .Values.controlCenter.loadbalancer.internal }}
        service.beta.kubernetes.io/aws-load-balancer-subnets: {{ .Values.subnets.private }}
        service.beta.kubernetes.io/aws-load-balancer-scheme: internal 
        {{- else }}
        service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
        service.beta.kubernetes.io/aws-load-balancer-subnets: {{ .Values.subnets.public }} 
        service.beta.kubernetes.io/aws-load-balancer-ssl-negotiation-policy: ELBSecurityPolicy-TLS-1-2-2017-01
        service.beta.kubernetes.io/aws-load-balancer-ssl-cert: {{ .Values.controlCenter.loadbalancer.certificateArn }}
        service.beta.kubernetes.io/aws-load-balancer-backend-protocol: ssl
        {{- end }}
        external-dns.alpha.kubernetes.io/hostname: {{ .Values.controlCenter.dns.prefix }}.{{ .Values.domain }} 
        external-dns.alpha.kubernetes.io/ttl: "300"
        service.beta.kubernetes.io/aws-load-balancer-target-node-labels: service={{.Values.controlCenter.loadbalancer.nodeLabel}}
        service.beta.kubernetes.io/aws-load-balancer-name: {{ .Values.controlCenter.loadbalancer.name }}
      domain: {{ .Values.domain }}
      prefix: {{ .Values.controlCenter.dns.prefix }}
  storageClass:
    name: standard
     
  oneReplicaPerNode: true
  podTemplate:
    podSecurityContext:
      fsGroup: 1000
      runAsGroup: 1000
      runAsUser: 1000
    probe:
      liveness:
        periodSeconds: 10
        failureThreshold: 5
        timeoutSeconds: 500
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: service
                  operator: In
                  values:
                    - {{ required "NodeAffinityServiceName is mandatory" .Values.controlCenter.nodeAffinityServiceName }}
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - zookeeper
                    - kafka
            topologyKey: kubernetes.io/hostname
